[2021-01-20 16:41] kyletsang commented on #2082
Can you also check the version of reactstrap you have installed?  Is it 8.9.0?

[2021-01-20 19:12] adamf1631 commented on #1340
switch to <React.Fragment> in index.js

[2021-01-21 04:49] Rajesh-Thiyagarajan commented on #2082
Sorry it's private repo.

[2021-01-21 04:54] Rajesh-Thiyagarajan commented on #2082
Please find the screen shot.
**Right side latest version** - Issue occurs
**Left side previous version** - Previously working fine
![image](https://user-images.githubusercontent.com/67726510/105281749-cc7fd700-5b7a-11eb-9c2a-d7a4ccf791a2.png)

[2021-01-21 05:07] kyletsang commented on #2082
Ok, so you're running 8.8.1.   This issue should be resolved for you if you upgrade to 8.9.0

[2021-01-21 05:08] Rajesh-Thiyagarajan commented on #2082
ok thanks.

[2021-01-21 09:04] iamandrewluca commented on #1340
`React.Fragment` is not an alternative for `React.StrictMode` 🙂

[2021-01-21 18:05] #2082 closed

[2021-01-22 13:51] HansAarneLiblik opened #2084 "Add typedefinitions to TabContext"
Please add type definitions for TabContext.

I'm trying to create `LazyTabPane` component, but I need to get access to currently active tab. Using currently present (but not typed) `TabContext` seems like the easiest way to go

[2021-01-22 21:18] d3ce1t commented on #1340
@iamandrewluca CMIIW the problem comes from react-transition-groups (as you said). Reactstrap is using that library at version 2.9.0. But last version is 4.4.1. Would it still happen in a more recent version? What's blocking reactstrap from updating?

[2021-01-23 18:05] thetric commented on #1340
My guess is that the author wants to support React < 16.3 which has no the new Context API. But `react-transition-groups@3` [requires the new Context API](https://github.com/reactjs/react-transition-group/blob/master/CHANGELOG.md#300-2019-04-15)

[2021-01-23 19:10] iamandrewluca commented on #1340
We don't have time to allocate for this. And because this will be a breaking change, we thought of making multiple breaking changes at a time. But for that we have to allocate a lot of time, which we don't have.

[2021-01-25 10:17] Rajesh-Thiyagarajan opened #2086 "What is the use of dist, es, lib folder"
Hi team

To understand how reactstrap working i am asking this question.
![image](https://user-images.githubusercontent.com/67726510/105692482-77222d80-5ecc-11eb-9a03-0a2854b0369a.png)

What is use of es, dist, lib folder ?
why we are providing src code to the user ?

[2021-01-26 18:55] khwerhahn commented on #957
Is there a good way to set a default route? In my case the URL is already `/instruments/123`. Let's say I wanted the /charts to be the default route if nothing is passed after the `/instruments/123`

[code]

[2021-01-28 15:33] adamf1631 commented on #1340
Yes, I found this warning as well, if you boys have any suggestions please step up and suggest. Thanks!

[2021-01-28 18:53] kyletsang commented on #1960
Fixed in #2077

[2021-01-28 18:53] #1960 closed

[2021-01-29 00:34] gthomas-appfolio commented on #1748
Hi, just an update on this - we have a [fork](https://github.com/reactstrap/reactstrap/compare/master...gthomas-appfolio:master) that we plan to PR back here to [bootstrap5 branch](https://github.com/reactstrap/reactstrap/tree/bootstrap5) after completing Bootstrap 5.0 beta 1 compatibility.  Hopefully within the next week.

[2021-01-29 02:53] kyletsang commented on #1748
Disclaimer: these comments are my own and may not reflect the views of the other maintainers.

As @mxschmitt mentioned above, I still think it's best to unify the community under react-bootstrap.  RB is pretty much at v5 beta 1 parity right now.  There's also a number of other improvements RB has currently including:

- Extensive docs
- All dependencies up to date including Popper 2, react-transit

[2021-01-29 05:48] gthomas-appfolio commented on #1748
Hi @kyletsang
In general I'd agree with you, but the prop and component differences between RB and reactstrap means many projects can't just switch without extensive code changes.  My co. at least has tens of thousands (or maybe hundreds) of lines of React that use reactstrap extensively and we'd basically be stuck on v4 Bootstrap.  Updating reactstrap was the less-effort alternative to allow upda

[2021-01-29 20:51] kyletsang commented on #1748
Yeah, unfortunately it's quite a bit of work to do for the update.  @TheSharpieOne, @iamandrewluca, your thoughts on this?

[2021-01-29 21:16] iamandrewluca commented on #1748
https://github.com/orgs/reactstrap/teams/admin/discussions/1

[2021-01-30 00:14] bestguy commented on #1748
If if helps, FYI we are currently updating branch above to beta 1 compatibility including tests and docs, and planned to update to Popper 2 and React transition group.  We have not PRed back here yet for a few loose ends, but it seems in good shape.

[2021-02-02 03:54] TheSharpieOne commented on #1748
@bestguy that is awesome!

As for the link @iamandrewluca posted, for transparency I am going to post the text here.

Before you read it, keep this in mind: I would love for someone or someones (the community) to maintain reactstrap and support bootstrap 5. I will give access to those willing to do so. Since posting the below @kyletsang has come and has been doing a lot to maintain what is current

[2021-02-02 05:03] TheSharpieOne commented on #2086
Different users use different loaders.
`dist` is for CDNs, it powers things like https://cdnjs.com/libraries/reactstrap. Everything gets transpiled and there is UMD exporting. There are also a couple of "flavor" with and without external dependencies.
`lib` is for commonjs importing (using `require` and `exports`), plus everything gets transpiled.
`es` is for module importing (using `import` and `

[2021-02-02 05:15] Rajesh-Thiyagarajan commented on #2086
Is reactstarp will not support TypeScript ?

[2021-02-02 05:20] TheSharpieOne commented on #2086
typings are included in `es` and `lib`. There used to be `@types/reactstrap`, but that was moved to be within the repo. I guess we are not including the `types` in the release for the `src`.

[2021-02-03 15:47] bestguy commented on #1748
Thanks for posting @TheSharpieOne.   I and some others would be happy to help maintain for v5, but caveat is we probably would not be best primary maintainers due to our limited staffing.  So if others would be up for stepping up to maintain v5 too that would be much healthier for the project.
(We are probably better at "bursty" updates like v5 changes.)

We have a good investment in Reactstrap an

[2021-02-03 20:21] gauravshah27 commented on #2045
I am facing this issue as well on `reactstrap@8.9.0`. Is there any plan to update the version of react-popper to a version that is compatible with React 17? I was looking through all the branches and even the bootstrap 5 branch does not seem to bump up the version.

I was also looking at the various comments in this thread - https://github.com/reactstrap/reactstrap/issues/1748 and its unclear whet

[2021-02-04 11:05] Rajesh-Thiyagarajan commented on #1007
How to use up/down arrow key to select in this custom dropdown ?

[2021-02-04 17:27] bestguy commented on #2045
Hi @gauravshah27, we have a Bootstrap v5 PR pending from a fork that includes Popper v2 update.
Perhaps some of this Popper update can be backported to v4?  https://github.com/gthomas-appfolio/reactstrap/pull/31/files

Note this above includes changes needed for Bootstrap 5 too - not everything is needed to update reactstrap v4

[2021-02-04 17:38] gauravshah27 commented on #2045
Thanks @bestguy for the reply. It would be really helpful if we can have a version 4.x with this update. Right now the move to npm 7 for our React 17 based apps is not possible because of how npm 7 treats the peer dependencies. Is there any work planned to roll out a v4 with this change?

[2021-02-04 17:45] kyletsang commented on #2045
I'm currently working with the Popper team to release a 1.x version with react 17 support.

Meanwhile you could use the `--legacy-peer-deps` flag in npm to ignore the new peer deps behavior.

[2021-02-04 17:52] gauravshah27 commented on #2045
@kyletsang thanks a lot for the prompt reply. Really appreciate the work. I have tested it out already with `--legacy-peer-deps` and that seems to work fine. But would love to have the 1.x version that you mentioned.

[2021-02-04 17:57] gauravshah27 commented on #1748
@bestguy I am with you. We are also heavily invested in Reactstrap and would love to see an update for bootstrap v5. I would love to help in whatever capacity I can. I have never really contributed to opensource before and would love to learn the ways and contribute to a project that really matters to me.

[2021-02-04 22:15] Drethic opened #2089 "Unable to pass ref to ModalBody"
- components: `ModalBody`
- reactstrap version `#8.9.0`
- import method `es`
- react version `#16.14.0`
- bootstrap version `#4.5.3`

### What is happening?

When trying to add a ref to ModalBody it remains `null`l

### What should be happening?

The ref should be passed either as `ref` or `innerRef`.

### Steps to reproduce issue

1. Create a ref with `const modalBodyRef = useRef(null);`
2. Creat

[2021-02-05 00:53] kyletsang commented on #2089
ModalBody currently doesn't accept refs.  Interested in sending a PR?

[2021-02-05 03:29] Drethic commented on #2089
I can give it a shot

[2021-02-06 02:30] geoffreyhale commented on #366
Workaround, I used `as="div"`.

[2021-02-06 22:02] VergoEcho commented on #711
Fased this problem on my Macbook 13 pro 2018 BigSur 11.2
The problem dissapear after i **change directory** of my project, and then reinstall **_node_modules_**.
I moved project from folder with **_.nosync_** ending, to my desktop. Think that **_.nosync_** cause problem in my case(i just wanted to disable sync projects, becouse of node_modules, maybe someone know how to do not sync them to icloud

[2021-02-09 13:05] hc-codersatlas commented on #1748
Maybe I missed it but what's the migration path to react-bootstrap? If there was a codemod, a guide or something that simplified the transition greatly - that might be another option.

[2021-02-09 15:21] mazhar1987 commented on #1340
Same problem I'm facing when using Collapse from reactstrap. Is there any solution? Thanks

<img width="1431" alt="Screenshot 2021-02-09 at 9 16 35 PM" src="https://user-images.githubusercontent.com/3949434/107384558-47a23080-6b1c-11eb-9c23-0d13a17b1e9e.png">

[2021-02-10 15:59] MilesYM commented on #1668
Hi there, I still have the same issue on 8.9.0:

`The <Target /> component appears to be a function component that returns a class instance. Change Target to a class that extends React.Component instead. If you can't use a class try assigning the prototype on the function as a workaround. `Target.prototype = React.Component.prototype`. Don't use an arrow function since it cannot be called with `ne

[2021-02-10 17:25] kyletsang commented on #1668
@MilesYM, can you provide a code repro on CodeSandbox or similar?  Thanks

[2021-02-11 00:02] adamhinckley opened #2097 "Opacity on Tooltip doesn't seem to be asjustable"
- components: `Tooltip`
- reactstrap version `#8.0.1`
- import method `umd/csj/es`
- react version `#16.9.0`
- bootstrap version `#4.3.1`

### What is happening?

When I use the Tooltip component, this CSS is being created under the hood and I can't find a way to override it so the opacity is 1
[code]

### Steps to reproduce issue
1 - Add a tooltip component
2 - Wake it open by default so it's eas

[2021-02-11 00:46] kyletsang commented on #2097
You can override the default sass variable if you're building your own css.  Or try using the `popperClassName` prop to pass your custom class with new opacity.

[2021-02-11 07:36] zakaurehman commented on #1088
how can I change dropdown button. Means color size ???

[2021-02-11 20:53] kyletsang commented on #1748
@hc-codersatlas, currently no guide.  I believe most(?) of the props have a 1:1 translation, but complicated components such as popovers and tooltips are quite different.

@gthomas-appfolio does have a lot of work put into v5, so looks like we can move forward with that.  More community involvement would be great!

[2021-02-12 12:46] illiteratewriter commented on #1748
If someone adds to https://github.com/reactstrap/reactstrap/projects/4#card-31741444 or add issues with the things that need to be done, I think it will be easier to contribute.

[2021-02-12 13:05] bestguy commented on #1748
Thanks, we will pr the v5 update work back to this repo and can determine what issues remain.  (Hopefully very soon, we are working on one last Popper 2 issue)

[2021-02-12 18:59] limitedmage opened #2099 "Dropdown is overriding default keyboard events"
- components: `Dropdown`
- reactstrap version `#8.4.1`
- import method `es`
- react version `#16.14.0`
- bootstrap version `#4.5.1`

### What is happening?

When using the Dropdown component and putting any non-DropdownItem element inside the dropdown (eg. text input or button), Reactstrap doesn't let you tab or interact with these elements using the keyboard. [Relevant code](https://github.com/re

[2021-02-16 14:37] Rajesh-Thiyagarajan commented on #2086
@TheSharpieOne I am just asking for my knowledge. what is the project name ? like Node.js prospect, React project , etc ...
![image](https://user-images.githubusercontent.com/67726510/108077028-148b0000-703a-11eb-98df-bd729de60b16.png)

[2021-02-16 18:13] kyletsang commented on #2045
react-popper 1.3.8 has been published with React 17 support

[2021-02-16 18:57] gauravshah27 commented on #2045
@kyletsang thanks for letting us know and for updating react-popper.

[2021-02-16 22:21] CleverOscar commented on #1289
This is still an issue occurring in 2021, can I please get some help solving this error. It is really annoying

[2021-02-16 22:24] CleverOscar commented on #1340
Has this issue really been on for more than two years? I keep getting an error when using the `Carousel` component

[2021-02-17 00:21] gthomas-appfolio commented on #1748
Hi all, I've created a PR to the bootstrap5 branch, hopefully the rebasing, etc came through okay.  https://github.com/reactstrap/reactstrap/pull/2102

This adds support up to Bootstrap v5.0.0 beta 2 as thoroughly as we could see.  Please take a look when you have a chance and we can do any updates as needed.

[2021-02-17 19:42] gauravshah27 commented on #2045
I am not seeing the react 17 support in this version. The peer dependencies still look as follows:
[code]

I am still seeing the above issue with `reactstrap@8.9.0` and `react@17`

[2021-02-17 19:51] kyletsang commented on #2045
/cc @FezVrasta

Looks like the react 17 peer deps didn't make it into the release:
https://unpkg.com/browse/react-popper@1.3.8/package.json

[2021-02-17 21:26] FezVrasta commented on #2045
🤦‍♂️ I'll take a look tomorrow morning, sorry 😞

[2021-02-18 11:06] FezVrasta commented on #2045
1.3.9 should be good

[2021-02-18 12:56] nidhiverma3094 commented on #1824
Is this bug resolved yet?

[2021-02-18 14:45] Shubham-Sharma-23 commented on #1824
Nope

[2021-02-18 17:55] kyletsang commented on #2045
Thanks @FezVrasta!

[2021-02-18 17:55] #2045 closed

[2021-02-18 20:14] phwebi commented on #1748
Update: We've split up https://github.com/reactstrap/reactstrap/pull/2102 into PRs per feature/change. Hopefully this makes it easier to review. Please let us know if there's anything else you need!

[2021-02-21 02:38] ag2byte opened #2121 "Installing via npm gives a dependency tree error"
I tried to install reactstrap through npm as per the documentation.
[code]

It gives the following error:

[code]

[2021-02-21 06:17] bstiffler582 commented on #1088
Any idea how I can accomplish showing the drop down onFocus of an Input element? It seems the toggle functionality expects a click and any other events will get in the way - e.g. I can get it to pop up with the following:

`
const categoryDropDownToggle = () => setCategoryDropdownOpen(prevState => !prevState);
...
<Dropdown isOpen={categoryDropDownOpen} toggle={categoryDropDownToggle}>

[2021-02-21 06:25] bstiffler582 commented on #1088
Any idea how I can accomplish showing the drop down onFocus of an Input element? It seems the toggle functionality expects a click and any other events will get in the way - e.g. I can get it to pop up with the following:

[code]

but then it is quickly hidden by the toggle.

[2021-02-21 07:49] kyletsang commented on #2121
Hmm, react-popper depends on create-react-context, but that lib looks abandoned now.

You'll have to use the `--legacy-peer-deps` flag when installing reactstrap via npm.

Alternatively, if you are just starting out with react and bootstrap 4, use [react-bootstrap](https://www.npmjs.com/package/react-bootstrap) instead since it uses popper 2 and bypasses this problem.

[2021-02-22 03:40] #2121 closed

[2021-02-22 08:29] memsenpai opened #2122 "Popover pass click event to outside"
- components: `Popover`
- reactstrap version `#8.9.0`
- react version `#16.13.1`
- bootstrap version `#4.5.0`

### What is happening?

when i click inside popover, event onClick of parent is fired

### What should be happening?

I think it should implement e.stopPagination is default, right ?

[2021-02-22 11:47] dogukankutluay commented on #1340
thankx :)

[2021-02-23 05:35] ashwingattani commented on #1945
@res33100 do we have any further update on this issue?

[2021-02-23 20:47] res33100 commented on #1945
Nothing from me, I have not looked at it since putting this issue in as it was for a previous project.

[2021-02-23 23:35] jb0gie commented on #711
🙌🏿

[2021-02-25 10:38] bakasmarius commented on #1833
I also have the same warning with LoadableComponent:
[code]
Any plans for fixing it anytime soon?

[2021-02-26 22:10] gthomas-appfolio commented on #1748
Hi @kyletsang et al, now that bootstrap5 branch is updated (thanks all!) can you do a prerelease version to npm?
Will it be v9.0.0-beta2, etc?

[2021-02-26 22:11] gthomas-appfolio commented on #1748
Secondly, would you all be up for a PR to move docs to storybook?  We have experience with it and would be happy to look at this.

[2021-02-28 07:45] kyletsang commented on #1748
@TheSharpieOne, does the release bot handle github pre-release tags?

Also on a side note, @phwebi has the ability to publish releases as part of the org.  I've sent instructions in the private channel.

[2021-02-28 14:42] TheSharpieOne commented on #1748
I don't believe so. CI/CD is just running for commits and tags and when it's trigger is a tag (any tag) it does the release script. Might be able to modify it to know the difference between release and pre-release to do the npm command differently.

[2021-03-01 14:05] TheSharpieOne commented on #2086
this project is named "reactstrap"; as found in the "name" property within the package.json

[2021-03-01 14:05] #2086 closed

[2021-03-07 13:11] VityaSchel opened #2134 "Attempted import error: 'Accordion' is not exported from 'reactstrap'."
- components: `Accordion`
- reactstrap version `#9.0.0-0` (also tested on 8.9.0)
- import method `es`
- react version `#17.0.1`
- bootstrap version `#4.6.0`

### What is happening?

I'm trying to import Accordion

### What should be happening?

Accordion should be imported as [described](https://reactstrap.github.io/components/accordion/) in docs

### Steps to reproduce issue

1. try to import Acc

[2021-03-07 13:13] VityaSchel commented on #2134
Accordion actually isn't exported:
[https://github.com/reactstrap/reactstrap/blob/master/src/index.js](https://github.com/reactstrap/reactstrap/blob/master/src/index.js)

[2021-03-07 13:19] VityaSchel commented on #2134
Was it renamed or maybe removed? I can't find anything about accordion in this repository, but it exist in docs 🤔

![image](https://user-images.githubusercontent.com/59040542/110241256-3f95af00-7f69-11eb-9ff2-84409226e03f.png)

[2021-03-07 15:07] VityaSchel commented on #2134
I tried recreating it myself, but it works shitty. It works fine on docs page, so I don't see an issue in taking this component from the docs to src.

[2021-03-08 17:35] kyletsang commented on #2134
Accordion is only available in the 9.x beta which uses bootstrap 5, so you would need to update your bootstrap css.

[2021-03-08 19:46] VityaSchel commented on #2134
I updated reactstrap to 9 beta as mentioned in issue

[2021-03-08 19:49] VityaSchel commented on #2134
Anyway I was able to solve this by importing plain version of bootstrap and inserting in in iframe because reactstrap stylesheets were preventing accordion from animating 🤦‍♀️

[2021-03-08 19:49] #2134 closed

[2021-03-09 08:45] byronrau opened #2137 "Switch input"
- components: `FormGroup switch`
- reactstrap version `#8.9.0`
- import method `es`
- react version `#17.0.1`
- bootstrap version `#4.6.0`

### What is happening?

Hi, I'm just trying the example FormGroup switch and it is not rendering the switch properly. It's showing as a regular input type instead of switch.

### What should be happening?

It should display as a switch from the example.

### S

[2021-03-09 17:27] TheSharpieOne commented on #2134
reactstrap shouldn't have stylesheets. It depends on bootstrap for styles.

[2021-03-09 18:18] kyletsang commented on #2137
Docs site is showing examples from reactstrap 9.x.   For 8.x see this codesandbox for the syntax:

https://codesandbox.io/s/staging-sound-01nl0

[2021-03-09 18:46] byronrau commented on #2137
Great thank you.

[2021-03-09 18:46] #2137 closed

[2021-03-12 09:23] mirkodrummer opened #2140 "Algolia search not working on reactstrap.github.io"
### What is happening?

Algolia search not working on reactstrap.github.io

![Screenshot 2021-03-12 at 10 20 57](https://user-images.githubusercontent.com/2675016/110919760-e76dfc80-831c-11eb-8ab7-63db75084cc6.png)

[2021-03-12 11:22] z1m1n opened #2141 "Responsive table wrapper ref"
Can we add `responsiveRef` (or something similar) prop for responsive table div wrapper?

[2021-03-12 17:00] AndrejZelonka opened #2142 "Page scrolled up after opening modal"
### Issue description

- components: `Modal`
- reactstrap version `#8.9.0`
- react version `#17.0.1`
- bootstrap version `#4.6.0`

### What is happening?

After opening modal, page is being scrolled to the top.

### Code
f.e. most basic example from the official docs.
https://reactstrap.github.io/components/modals/

Just in case if is somebody wondering, event.preventDefault() is not a problem in

[2021-03-13 10:54] shuvo22890 opened #2143 "Can't make reactstrap modal fullscreen"
There is an example of making reactstrap modal fullscreen. But it's not mentioned what to pass in the fullscreen property to make the modal fullscreen. Please tell the value of the fullscreen prop....
![fullscreenmodal](https://user-images.githubusercontent.com/49811495/111027796-b543c400-841c-11eb-9710-923ea2d8e390.png)

[2021-03-13 16:13] wschmrdr opened #2144 "Remove or Subdue Political Messaging"
Persistent political messaging has no place in a help document, regardless of whether or not one believes in the cause. If an announcement of the same wishes to be made, that's respected, but it should be able to be dismissed and never seen again. It seems especially inappropriate to sticky it to the top of the page in a manner that makes it more difficult to read the contents of the help document

[2021-03-15 17:10] rickyplouis commented on #2144
Civil rights can hardly be considered inappropriate.

[2021-03-15 18:54] TheSharpieOne commented on #2144
It's not political, it's civil. As far as rights go, I'd say that both are important. As it is today, civil rights need more of the spotlight as things have become out of control.

Maybe we can improve the way it look and how it is positioned?

Some things other sites have done:
styled-components moved it to the bottom https://github.com/styled-components/styled-components-website/commit/4afb1d11f

[2021-03-15 21:08] andrefelipeschulle opened #2145 "Dropdown or UncontrollerDropdown with Problem Opening Menu in Animated Table"
- components: `Dropdown or UncontrolledDropdown`
- reactstrap version `#8.9.0`
- react version `#17.0.1`
- bootstrap version `#4.6.0`

### What is happening?

when opening the dropdown menu in an animated line of a table, the dropdown menu has a problem, the bottom line icon appears in the dropdown menu, if you go to the last line and click on the icon it does not happen because the menu opens up,

[2021-03-16 01:58] Danilosv commented on #1028
Solution for this issue:
- use defaultChecked, not checked;
- use onChange

[2021-03-16 05:38] #1820 closed

[2021-03-16 16:13] Murugaraju opened #2147 "Accordion component js file not be found in src"
### Issue description

- components: `Accordion`
- reactstrap version `#8.9.0`
- import method `umd/csj/es`
- react version `#x.x.x`
- bootstrap version `#x.x.x`

### What is happening?

### What should be happening?

### Steps to reproduce issue

1. ...
2. ...

### Error message in console

[code]

### Code

[2021-03-16 16:13] Murugaraju commented on #2147
All component related to Accordion not found

[2021-03-16 17:13] kyletsang commented on #2147
Accordion is available in the 9.x beta:
https://www.npmjs.com/package/reactstrap/v/9.0.0-0

[2021-03-16 17:17] kyletsang commented on #2145
Dropdowns don't work particularly well with tables due to how tables are rendered in general.  Try setting `container="body"` on the dropdown menu.  This will change the element the dropdown is appended to.

[2021-03-16 17:18] kyletsang commented on #2143
It's in the list of properties in the docs:

[code]

[2021-03-16 17:19] #2143 closed

[2021-03-17 06:39] Murugaraju commented on #2147
@kyletsang
Thanks, Do you want me to close this, or keeping it for others to get notified on same.

[2021-03-17 15:12] #2147 closed

[2021-03-17 15:12] Murugaraju commented on #2147
Accordion is available in the 9.x beta:
https://www.npmjs.com/package/reactstrap/v/9.0.0-0

[2021-03-20 23:26] andrefelipeschulle commented on #2145
Thanks, it worked for me

[2021-03-20 23:26] #2145 closed

[2021-03-21 03:36] mikebridge commented on #1159
Still getting the warning in reactstrap 8.9.0

[2021-03-23 22:56] imriven commented on #556
Is there a way to use both collapse and uncontrolled collapse?  I'm mapping over some data and using collapse and it works fine until you get down to mobile size. Then I have that whole element disappear for the mobile element. The mobile is using uncontrolled collapse because in the mobile state I need multiple collapses.

I have multiple collapses to use until the browser hits a certain breakpoi

[2021-03-24 14:26] #1420 closed

[2021-03-24 17:23] AmmarMohamadIsmaeel opened #2149 "Badge Text not centered on mobile"
- components: `Badge`
- reactstrap version `8.6.0`
- import method `import { Button, Card, CardBody, CardFooter, CardHeader, Badge } from "reactstrap";
- react version `16.13.1`

The text in the Badge is not vertically aligned centered, only on a mobile.
PS: It working well on pc chrome when changing the view to mobile in the inspect.

![image](https://user-images.githubusercontent.com/57847174/11

[2021-03-25 19:05] matttk commented on #1945
Hmm this seems similar to an issue I am having, but on Chrome. I have an `Input` in my `DropdownToggle` and when I push `space`, the `Dropdown` closes.

My hack around it is to `preventDefault` and manually change the input... but I didn't really expect this behaviour in the first place. It makes sense for accessibility but maybe there ought to be a way to turn it off, when you don't want a classi

[2021-03-30 12:58] mkamalkayani opened #2158 "Modal component stops propagation of click events"
- components: `Modal`
- reactstrap version `#8.9.0`
- import method `es`
- react version `#17.0.1`
- bootstrap version `#4.4.1`

### What is happening?

When I click anywhere on the Modal, the event does not propagates to the document.

### What should be happening?

The event should propagate to the document

### Steps to reproduce issue

1. add click event listener on document.
2. open modal and

[2021-03-31 21:14] gauravshah27 opened #2159 "Dropdown responsive alignment"
- components: `DropdownMenu`
- reactstrap version `9.0.0-0`
- import method `umd/csj/es`
- react version `17.0.1`
- bootstrap version `5.0.0-beta3`

### What is happening?

Trying to implement Responsive Alignment for `DropdownMenu` using `dropdown-menu-*-start/end` and unable to get it to work

### What should be happening?

1. When using `dropdown-menu-end dropdown-menu-lg-start` the dropdown me

[2021-03-31 22:46] kyletsang commented on #2159
I believe responsive alignment requires that popper be disabled, but I don't think that's currently possible.

[2021-04-01 05:01] gauravshah27 commented on #2159
@kyletsang i am not sure if there is a change in behavior but even bootstrap 5 is using popper for placement of the menu and in the bootstrap 4.6 version, I was able to make responsive alignment work by replacing the
`DropdownMenu` component with the html from bootstrap documentation (plus the onclick handler on button and conditionally adding `show` to toggle the menu visibility) and using the `d

[2021-04-01 11:56] gauravshah27 commented on #2159
[code]

This code was working as expected for the responsive alignment for the following version numbers:
bootstrap: `4.6.0`
react: `17.0.1`
reactstrap: `8.9.0`

However if I replace `dropdown-menu-right` with `dropdown-menu-end` and `dropdown-menu-lg-left` with `dropdown-menu-lg-start` - I was expecting this to work (to your point there has been no change in the behavior for responsive alignment)

[2021-04-01 12:31] gauravshah27 commented on #2159
@kyletsang never mind I found the culprit. `data-bs-popper` is the attribute that needs to be toggled when you are using the dropdown-menu. I inspected the code on the bootstrap site and found that attribute being toggled everytime I toggled  and toggling that in my react code gives the responsive alignment that I am looking for. Having said that - I do feel like there should be something in react

[2021-04-01 12:31] #2159 closed

[2021-04-01 16:37] mkamalkayani commented on #2158
The regular bootstrap modal does not stops propagation. I have tested it here: https://getbootstrap.com/docs/5.0/components/modal/

Event propagation is part of the specification and stopping it is a bad practise.
https://css-tricks.com/dangers-stopping-event-propagation/

[2021-04-01 18:48] jmangel opened #2160 "Popover modifiers error from PopperJs validateModifiers"
- components: `Popover`
- reactstrap version `#8.9.0`
- import method `es`
- react version `#16.3.1`
- bootstrap version `#4.5.0`

### What is happening?

Even a simple Popover with no specified modifiers fails PopperJS's modifier validation with console errors:
`PopperJS: an invalid property has been provided to the "undefined" modifier, valid properties are "name", "enabled", "phase", "fn", "eff

[2021-04-01 20:51] jmangel commented on #2160
I still don't know what was causing this, but it is now resolved for me. The only notable step before its resolution was cleaning my node_modules, which I actually did in an attempt to manually install a slightly newer patch version of react-popper than was required by reactstrap. However, after the installs, I was able to revert to the default version and the modifiers were accepted.

[2021-04-01 22:55] kyletsang commented on #2160
Sounds like you might've installed Popper v2, which isn't compatible with reactstrap

[2021-04-07 08:25] nik72619c commented on #1957
Hi,
Seems like I had been testing on v6.4.0. Bumping up the version seems to resolve the issue, as used in the codesandbox link given above.
@koenvg Are there any breaking changes for tooltips from v6.4.0 to 8.6.0?

[2021-04-08 19:24] koenvg commented on #1957
@nik72619c There is only one breaking change for as far as I can see. You can always check the changelog for more information.
https://github.com/reactstrap/reactstrap/releases

The breaking change:
Popover: Popover and Tooltip will now fade in and out (like bootstrap's default). To get the previous behaviour use fade={false}

[2021-04-09 06:33] nishantjbspl opened #2161 "Reactstrap Input type "select" hang on chrome browser"
- components: `Select`
- reactstrap version `latest`
- react version `^16.13.0`

### What is happening?

When click on the select input type its taking too long even if there is only few options.

So for confirmation I have also checked on the demo of reactstrap and in that form elements lag too.

please refer below demo URL
https://reactstrap.github.io/components/form/

I'm using chrome browser o

[2021-04-18 07:45] samueldervis commented on #1748
I would like to help, contribute to this repository

[2021-04-18 18:59] #2142 closed

[2021-04-19 04:49] nodwyer4 opened #2164 "Input innerRef missing HTMLSelectElement type"
- components: `Input`
- reactstrap version `#8.9.0`
- import method `es`
- react version `#16.9.0`
- bootstrap version `#4.4.1`

### What is happening?

Typescript definition for innerRef expects React.Ref<HTMLInputElement | HTMLTextAreaElement>

### What should be happening?

Typescript definition should include HTMLSelectElement for innerRef.
React.Ref<HTMLInputElement | HTMLTextAreaElement | HT

[2021-04-19 10:47] drive-subeesh commented on #711
Worked for me!...thanks bro

[2021-04-20 16:36] corby commented on #2164
+1

[2021-04-21 20:09] Ltchoc221 opened #2165 "Accordion component missing type definitions for AccordionProps [react+TypeScript]"
- components: `Accordion`
- reactstrap version `9.0.0-0`
- import method `reactstrap/es/Accordion`
- react version `17.0.2 (TYPESCRIPT)`
- bootstrap version `5.0.0-beta3`

### What is happening?

Unable to provide `toggle` and `openId` props to `Accordion` component

### What should be happening?

Should be able to provide a toggle function (which will change the active index) along with an openId

[2021-04-21 20:12] Ltchoc221 commented on #2165
Forgot to note that adding `// @ts-ignore` to the line directly above accordion in the return suppresses the error and allows the component to function as intended. I would like to avoid leaving this in the code as it feels like a dirty workaround.

[2021-04-23 14:14] SleepyCatzzz commented on #1837
Is there any update on this? I am beginning to build out, and the fact that this annoying issue has been going on over a year is troublesome enough I am tempted to use react-bootstrap because the error takes up so much space in my console.

[2021-04-28 12:14] sebacruz commented on #1748
@TheSharpieOne can we get more pre-releases with the `bootstrap5` changes?

[2021-04-29 13:58] TheGeus commented on #711
just use the cmd and type yarn in the root of your proyect and that's all

[2021-04-30 03:19] aMarCruz commented on #711
If everything fails ...
check the `scripts` block of the package.json of the package to install.
If "husky" is in `postinstall`, that's the culprit.

[2021-05-05 15:22] cody-elhard opened #2171 "InputGroupAddon not found in 9.0.0-0 release"
- components: `InputGroupAddon`
- reactstrap version `9.0.0-0`
- import method `esm`
- react version `16.5.2`
- bootstrap version `5.0.0-beta2`

### What is happening?

When I download the release source code from zip, InputGroupAddon is not found in the `index.js` exports file. However, it does exist on the `master` branch.

The images below represent respectively in this order
1. Code in Master

[2021-05-06 11:00] NicoleRauch commented on #810
I bumped into this issue as well. Any news on it?

Whenever the screen is forced to re-render the dropdown gets positioned correctly, so this looks more like a glitch in the rendering cycle of the DropdownMenu than an enhancement to me...

[2021-05-06 18:33] rosauceda commented on #2171
I have the same issue.

[2021-05-06 18:55] tim-montague commented on #2171
Reactstrap does not support Bootstrap 5

[2021-05-07 04:19] charles4221 commented on #1748
Hey team, FYI Bootstrap v5.0.0 is now the official latest stable release:
https://blog.getbootstrap.com/2021/05/05/bootstrap-5/

Any ideas when we might be able to get v9 up to date with the changes from both beta3 and the stable release?

[2021-05-07 23:09] bestguy commented on #1748
Not sure if there's anyone actively working on this but afaik what's missing is new Offcanvas component, ListGroup numbered variant, and there was some selector changes to CarouselIndicator.

I'm updating [sveltestrap](https://github.com/bestguy/sveltestrap/pull/209) to V5 and can assist with these PRs asap, or please reply here if would like to help in meantime and can point in right direction.

[2021-05-08 00:22] bestguy commented on #1748
WIP PR for [Offcanvas](https://getbootstrap.com/docs/5.0/components/offcanvas/) https://github.com/bestguy/reactstrap/pull/1/files if anyone would like to assist with tests.

[2021-05-08 00:35] bestguy commented on #1748
PR for ListGroup numbered: https://github.com/reactstrap/reactstrap/pull/2177.
Should be good to merge.

[2021-05-08 10:16] musasahinkundakci commented on #1340
`React.Fragment` if you are beginner you can use it temporily :)

[2021-05-09 12:11] fsogutcen commented on #1340
Deleting "<React.Fragment>" in the index.js file may also be effective.
I chose to use it this way to solve it; "ReactDOM.render (<App />,document.getElementById('root '));"

But since I'm newbie to React, I'm not sure how the right step is

[2021-05-09 12:13] fsogutcen commented on #1340
Deleting "<React.Fragment>" in the index.js file may also be effective.
I chose to use it this way to solve it;  " ReactDOM.render(<App />,document.getElementById('root')); "

But since I'm newbie to React, I'm not sure how the right step is

[2021-05-10 12:06] dogukankutluay commented on #1340
selamlar , direkt olarak bütün dosyalar için fragment verilmesi en mantıklısı. İhtimale dayalı bir kod aslında. Araştırdım biraz

[2021-05-11 01:19] EricCote opened #2178 "NavBar samples in the documentation should have a container to be compatible with bootstrap 5"
### What is happening?

In the reactstrap documentation, none of the samples are using a **container** inside of the NavBar.  But with Bootstrap 5, we now need a navbar container.

### What should be happening?

If you look at the new samples from the Bootstrap website, all of them are using now using div containers. If we omit the containers, everything then looks wrong with the margins.

Adding

[2021-05-12 08:19] sbaechler commented on #1340
@iamandrewluca Can the removal of the legacy APIs be part of the 9.0 release?

[2021-05-12 17:59] jaymitchell opened #2180 "Documentation: ButtonDropdown direction examples don't alway drop in the correct direction"
- components: `ButtonDropdown `

### What is happening?

The documentation ButtonDropdown "Dropleft" example is always dropping to the right. On mobile, the "Dropright" example is dropping to the left.

### What should be happening?

Dropleft example drops to the left, Dropright example drops to the right.

### Steps to reproduce issue

Dropleft issue:

1. Open https://reactstrap.github.io/compone

[2021-05-18 03:04] bestguy commented on #1748
PR for V5 Carousel updates:
https://github.com/reactstrap/reactstrap/pull/2182
Should be good to merge.

[2021-05-21 12:40] cody-elhard commented on #2171
I viewed `bootstrap5` and `InputGroupAddOn` does not yet exist in the src folder.

If I am given some direction, I can attempt to work on this one. However, I have not contributed to this project yet

[2021-05-21 12:40] #2171 closed

[2021-05-26 09:46] krnlde commented on #1972
Bootstrap 5 is final and uses v2. See the benefit now?

[2021-05-30 10:03] UweWindt commented on #1833
is there any progress in this issue?

[2021-05-30 18:56] Qandi430 opened #2190 "Input type select is readonly"
- components: `Form`
- reactstrap version `^8.9.0`
- import method `es`
- react version `^17.0.2`
- bootstrap version `^5.0.0`

### What is happening?

I'm use input type select with reactstrap and i'm not added readonly attribute but it has readonly default.

### What should be happening?

Input type select should not have read-only

[2021-06-02 03:00] febyana opened #2192 "How to make fade/modal/transition show from bottom not from up side?"
- components: `fade` or ?
- reactstrap version `#6.3.1`
- react version `#16.4.1`
- bootstrap version `#4.1.2`

Question:
How to make fade/modal/transition show from bottom not from up side?

[2021-06-02 20:02] Mayankyadav123 opened #2195 "Interested in contributing code for Toggle Switches / drag switches"
### Issue description

- components: `name`
- reactstrap version `#x.x.x`
- import method `umd/csj/es`
- react version `#x.x.x`
- bootstrap version `#x.x.x`

### What is happening?

### What should be happening?

### Steps to reproduce issue

1. ...
2. ...

### Error message in console

[code]

### Code

[2021-06-03 23:10] sovp-89 commented on #1366
Hi, I have the same problem, the spinner gets render but is not showing, I have reactstrap@8.9.0 and bootsrap@4.6.0 installed, does anyone know how to solve it?

[2021-06-04 06:04] suhailsajahan commented on #1277
Can't we solve this issue?

[2021-06-05 01:14] yogmel commented on #1422
Hi everyone,
can I have a look into this one?

[2021-06-05 10:35] AdeonMaster commented on #2190
@Qandi430 could you please share your component code?

[2021-06-07 07:09] ayxos opened #2196 "Is there any plan to update to bootstrap v5?"
now that bootstrap v5 is out, do you guys would update reactstrap or release a new project?

[2021-06-08 00:54] SuperRoach opened #2199 "PostCSS needs an update to ^8.3 (currently 7) due to Audit advisory 1574 - can't use reactstrap before this is done."
- components: `name`
- reactstrap version `#8.9.0`
- import method `umd/csj/es`
- react version `#17.0.2`
- bootstrap version `#4.3.1`

### What is happening?

Reactstrap currently uses PostCSS 7.x. An advisory: https://github.com/postcss/postcss/issues/1574 Has listed all version of 7 are exploitable.
On upgrading to 8.3 (newest postcss), Reactstrap breaks with depreciated calls being made by rea

[2021-06-08 16:51] errorr404 opened #2201 "TypeError: Cannot read property 'focus' of null"
- components: `Modal`
- reactstrap version `#8.9.0`
- import method `umd/csj/es`
- react version `#16.14.0`
- bootstrap version `#4.6.0`

### What is happening?
I am using reactstrap in electron app **(electron-version: 8.5.5)**, when I install the app for the first time in windows and open the **Modal**, on closing the modal the app got crashed.

### Steps to reproduce issue

1. make a build of e

[2021-06-08 18:35] Dakkers commented on #2196
there's already a branch for it but besides that I haven't seen anything

[2021-06-09 06:51] Qandi430 commented on #2190
thank your reply
this is my code
i was not use any options
[code]

[2021-06-10 14:00] toszcze commented on #2196
See this issue: https://github.com/reactstrap/reactstrap/issues/1748

[2021-06-10 23:19] twgraham commented on #2199
I don't think this is an issue with reactstrap. I've been using PostCSS 8.3 for a while now with no issues. I suspect there might be another postcss plugin you are using that is incorrectly configured after the move from 7.x to 8.3. Or it could be a plugin that is no longer needed. I do remember having to change up my postcss setup when upgrading to 8.x.

[2021-06-17 08:45] clisterdmello opened #2206 "Target button for popover loses focus when clicked away but doesn't close the pop over."
- components: `popovers`
- reactstrap version `8.9.0`

### What is happening?

When i visit "popover" component on https://reactstrap.github.io/components/popovers/
I observed a behaviour.

- Click on Launch popover [first example]
- Once the pop over is open, click off of the button. [to remove the focus from the button]
- The button has lost its focus but the tooltip still remains open

### What

[2021-06-18 22:02] Joel56ru commented on #1289
I started using the Navbar component from the example in the official documentation and an error occurs: Legacy context API has been detected within a strict-mode tree. Please update the following components: Transition
Fresh React Create App.
"react": "^17.0.2",
"react-dom": "^17.0.2",
"react-router-dom": "^5.2.0",
"reactstrap": "^8.9.0",

[2021-06-22 21:27] illandril opened #2208 "DropdownToggle 'aria-haspopup' PropType doesn't allow 'listbox'"
- components: `DropdownToggle`
- reactstrap version `#8.9.0`
- import method `esm`
- react version `#17.0.2`
- bootstrap version `#5.0.0`

### What is happening?

PropTypes validation for the `aria-haspopup` attribute for `DropdownToggle` fails if `listbox` is specified.

### What should be happening?

PropTypes validation shouldn't complain when `aria-haspopup` is set to `listbox`.

The `aria-has

[2021-06-29 20:10] KKS1 opened #2211 "Any timeline for Bootstrap 5 upgrade ?"
We are looking to adopt reactstrap for a green field Bootstrap 5 project. And wondering what's the expected timeline for Bs5 components in reactstrap ?

[2021-07-01 19:52] DaddyWarbucks commented on #1748
Big thanks to everyone that has worked on this so far! I use reactstrap for many projects and appreciate the work everyone has done.
I am starting a new project that will use v5. I plan to install reactstrap straight from github at the `bootstrap5` branch and will report back any issues.

[2021-07-07 13:45] robinjoerke commented on #2211
also see this issue regarding the topic #1748

[2021-07-08 16:03] Sinewyk commented on #2158
I can confirm this is indeed a misbehavior.

`document.documentElement.addEventListener('click', console.log)` for a quick try. Nothing logged in reactsrap modal, something logged in the bootstrap doc.

https://github.com/reactstrap/reactstrap/blob/8fcfc091e6966481b46346d71043a2b42043965a/src/Modal.js#L249 should probably be removed, and as said by @mkamalkayani , we should strive to not break the

[2021-07-10 07:46] ChefGravy commented on #1259
I know this is quite old, but any chance anyone came up with a solution?

[2021-07-11 11:00] DamoonDarvishi opened #2215 "error handling"
- components: `all table or list table`

### What is happening?
when clicking on sort more than 5 times we have an error

### Error message in console

Uncaught TypeError: (event.target.className || "").indexOf is not a function

[2021-07-11 11:01] #2215 closed

[2021-07-11 14:07] mcqueene opened #2216 "Badges not working?"
### Issue description

- components: `Badge`
- reactstrap version `#8.9.0`
- react version `#17.0.2`
- bootstrap version `#5.0.2`

### What is happening?

Badges are not visible / showing as white foreground on white blackground.

### What should be happening?

Badges should appear as in the demo.

### Steps to reproduce issue

1. Used npm to install new app per the instructions
2. Add Badge to pa

[2021-07-13 10:41] maroof-azheem commented on #1412
-

-

1.

[2021-07-15 08:54] sbaechler commented on #1738
react-transition-group also uses `findDOMNode` which is deprecated and triggers a warning in React strict mode.

Versions above 4.4.0 support another API that prevents this warning (the old API is still there for compatibility).

It would be great if we updated to the current 4.4.2 instead and changed the props to use `nodeRef` instead.

https://github.com/reactjs/react-transition-group/releases/t

[2021-07-16 18:53] tpn1s opened #2226 "Tooltip arrow doesn't show up"
- components: `UncontrolledTooltip`
- reactstrap version `#8.9.0`
- react version `#17.0.2`
- bootstrap version `#5.0.2`

### What is happening?

The tooltip does not have an arrow as I would expect.

Here is what it looks like:

![image](https://user-images.githubusercontent.com/87543204/125989760-0334dc4e-8a50-4ffd-a8a3-b1887459d45b.png)

### What should be happening?

There should be an arrow o

[2021-07-19 12:49] SET001 commented on #1833
any workaround for this so far?

[2021-07-19 14:47] quickshiftin commented on #1328
It also appears the error `TypeError: carouselItems.map is not a function` is raised if `CarouselItem` instances are not supplied as an array. I'd expect something like this to work (shorthand example):
[code]

[2021-07-20 21:38] BustaFett commented on #1748
Is the v5 branch ready for use? We have been using this library on a large software project for 2+ years now, and are looking to update to Bootstrap 5. Just curious as to where you are on the updates. Can help if needed?

[2021-07-21 16:47] bestguy commented on #1748
Hi @BustaFett , not a maintainer but see my [comment(s) above](https://github.com/reactstrap/reactstrap/issues/1748#issuecomment-834849509)

I believe the only thing missing currently is the Offcanvas component.  I have a WIP PR for it (https://github.com/bestguy/reactstrap/pull/1/files) but it needs some work.

[2021-07-21 16:49] bestguy commented on #2211
Not a maintainer but I [commented on the issue above](https://github.com/reactstrap/reactstrap/issues/1748#issuecomment-834849509)

I believe the only thing missing currently is the Offcanvas component.  I have a WIP PR for it (https://github.com/bestguy/reactstrap/pull/1/files) but it needs some work if anyone is up for helping.  I'll try and get back to it myself as well.

[2021-07-24 03:46] TalibehSerignKebbeh opened #2229 "Attempted import error: 'react-bootstrap' does not contain a default export (imported as 'Offcanvas')."
- components: `name`
- reactstrap version `#x.x.x`
- import method `umd/csj/es`
- react version `#x.x.x`
- bootstrap version `#x.x.x`

### What is happening?

### What should be happening?

### Steps to reproduce issue

1. ...
2. ...

### Error message in console

[code]

### Code

[2021-07-25 18:23] jepfp commented on #2216
same here.

[2021-07-27 06:59] MatyCZ commented on #1748
Is this project dead?

[2021-07-28 18:26] cody-elhard commented on #2229
According to your error message, `react-bootstrap` is a different library found here

https://github.com/react-bootstrap/react-bootstrap

[2021-07-29 10:01] krnlde commented on #2216
Did you also import the corresponding CSS file?

[2021-07-29 10:10] krnlde commented on #1748
What kind of work is needed?

Also what is with all the [open PRs](https://github.com/reactstrap/reactstrap/pulls) in this project? It feels a bit dead tbh.

[2021-07-30 03:49] EarvinJay commented on #595
You can use className instead. For example:  className={ max-width: 80%; max-height: 80%; }

[2021-08-01 14:36] trickybestia commented on #2216
@mcqueene, I have run into this issue about an hour ago and found a solution. When you install bootstrap without explicitly specified version, yarn (or npm) automatically installs the latest version of the package. reactstrap can only work with Bootstrap 4, while you probably have Bootstrap 5 installed. So to resolve a conflict you can execute the following commands:
[code]
or
[code]
Hope this wil

[2021-08-15 14:05] ramijaschek commented on #1668
This is still happening. Any expected?

[2021-08-18 13:32] gauravshah27 commented on #1748
@bestguy @kyletsang do you have any kind of timelines that you can provide as to when this will be released. Also judging from the number of open PRs - is this project going to be maintained going forward.

Sorry for asking question that many other users have already but if you can provide a more concrete timeline - that would be greatly appreciated. Thanks.

[2021-08-18 16:03] illiteratewriter commented on #1748
@bestguy hey, it would be great if you can summarize the todos since it will be easier to pick up what are pending

[2021-08-18 23:59] bestguy commented on #1748
Sure @illiteratewriter , here is the missing work to get to Bootstrap 5.1 compatibility: https://github.com/gthomas-appfolio/reactstrap/projects/1

@phwebi was going to update this repo's V5 project board with this info: https://github.com/reactstrap/reactstrap/projects/4

[2021-08-19 02:46] illiteratewriter commented on #1748
@bestguy I'll get started with placeholders and try and get it done over the weekend. So you can maybe move it to *In Progress*

[2021-08-19 19:14] Allakazan commented on #1340
This issue still are going on ? Isn't unsafe and dangerous to disable StrictMode ?

[2021-08-21 03:54] kyletsang commented on #1748
Hi @gauravshah27, sorry for delayed response.  Unfortunately I no longer have the time to help out here since I've picked up a few other projects to work on.

@bestguy and @phwebi are probably the best people to talk to in order to get support here.

[2021-08-21 04:04] bestguy commented on #1748
Hi @gauravshah27, @illiteratewriter ,

These PRs are ready for review and merge if approved:
Offcanvas: https://github.com/reactstrap/reactstrap/pull/2235
Horizontal Collapse: https://github.com/reactstrap/reactstrap/pull/2236

This has been merged:
Accordion updates: https://github.com/reactstrap/reactstrap/pull/2185

The only addition needed for a Bootstrap 5 release is Placeholders, let me know

[2021-08-21 05:19] illiteratewriter commented on #1748
I'll get it done by tonight mostly.

[2021-08-23 05:22] illiteratewriter commented on #1748
@bestguy #2237 Placeholders is done

[2021-08-23 12:34] Ankurgupta5442 commented on #214
### Can anybody please help me in this react code I am not able to render image though image path was correct.
import React, { Component } from 'react';
import { Media } from 'reactstrap';

var imgStyle = {
    minWidth: "128px",
  };

class Menu extends Component {
    constructor(props) {
        super(props);
        this.state = {
            dishes: [
                {
                  id: 0

[2021-08-28 00:05] bestguy commented on #1748
Hi Kevin, not yet, we are looking at a PR to update the docs and also keep v4 docs available too.

[2021-08-29 23:04] IgorTitov commented on #1205
But still, in your example date format doesn't work... Input displays 'mm/dd/yyyy', and it's not what's needed. Could you please tell how to format the date?

[2021-08-30 00:35] Jazzykhan commented on #1833
It is still happening i have copied a button code from this site:
https://www.creative-tim.com/learning-lab/nextjs/modal/argon-dashboard
Now when i used it my React-Next.js project it is different from the website it is not using transitions and it has different colors for everything why is that any workaround for this?
@007tom

[2021-08-30 02:44] 007tom commented on #1833
@Jazzykhan
I never used next.js, but you can try this:
https://stackoverflow.com/a/67846207/8537000

codesandbox: https://codesandbox.io/s/react-nextjs-reactstrap-7slww

[2021-09-01 01:33] Maxim-Mazurok commented on #515
No need to check that `e.target !== container`. Just `!container.contains(e.target)` should suffice, because:

([source](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains))

[2021-09-02 02:16] Jazzykhan opened #2256 "How to make the table sortable? any reference?"
### Issue description

- components: `Table`
- reactstrap version `8.9.0`
- import method `umd/csj/es`
- react version `17.0.2`
- bootstrap version `5.1.0`

### What is happening?

### What should be happening?

### Steps to reproduce issue

1. ...
2. ...

### Error message in console

[code]

### Code

[2021-09-02 06:23] zillBoy opened #2257 "Sidebar Left"
### Issue description

- components: `Modal`
- reactstrap version `8.6.0`
- react version `17.0.1`
- bootstrap version `4.5.2`

### What is happening?

<Modal
      isOpen={open}
      toggle={handleModal}
      **className='sidebar-sm'
      modalClassName='modal-slide-in'**
      contentClassName='pt-0'

### Is there any way to making the sidebar appear from the left side currently it's appearin

[2021-09-02 15:10] bestguy commented on #2257
Hi @zillBoy ,

Not sure I understand, Bootstrap 4.x Modals transition in from top only - what are you referring to when you mean currently appearing from right?

[2021-09-02 15:42] zillBoy commented on #2257
Hi, @bestguy thanks for reaching out! I solved the problem.
I'm actually using **Vuexy Template** you can see this link
https://pixinvent.com/demo/vuexy-react-admin-dashboard-template/demo-1/apps/invoice/edit/4987

If you click on **Send Invoice Button** the modal actually comes in the form of a sidebar because they were using
**modalClassName='modal-slide-in'** in Modal Component.

I did the inli

[2021-09-02 15:42] #2257 closed

[2021-09-02 15:51] bestguy commented on #2256
Hi @Jazzykhan , this is not currently a part of reactstrap, though might be a good idea to have Table helper like this.

I am aware of this implementation which is based on Bootstrap & reactstrap:

https://github.com/appfolio/react-gears/blob/master/src/components/UncontrolledTable.tsx

Demo:
https://appfolio.github.io/react-gears/?path=/story/table--uncontrolled-table-example

[2021-09-02 15:56] bestguy commented on #2257
Sounds good, FYI for the future: Bootstrap 5 and reactstrap 9 will support the new "Offcanvas" component: https://getbootstrap.com/docs/5.1/components/offcanvas/#live-demo

This sounds similar to your needs.

[2021-09-02 20:02] phwebi commented on #2226
Hi! The current release of reactstrap is on bootstrap 4! We 're currently working on updating to Bootstrap 5 have a prerelease version here: https://github.com/reactstrap/reactstrap/releases/tag/v9.0.0-2

[2021-09-02 20:04] phwebi commented on #2211
Update: We have a pre-release version supporting Bottstrap 5 here: https://github.com/reactstrap/reactstrap/releases/tag/v9.0.0-2. Feel free to use it/give feedback in #1748

[2021-09-02 20:06] phwebi commented on #2216
@mcqueene We 're also currently working on updating to Bootstrap 5 and have a prerelease version here: https://github.com/reactstrap/reactstrap/releases/tag/v9.0.0-2 if you'd like to use it.

[2021-09-02 20:07] #2196 closed

[2021-09-02 20:08] #2211 closed

[2021-09-03 19:28] momega commented on #1289
Please, reopen the issue. "Please update the following components: Transition" still exists.

[2021-09-04 21:27] bestguy commented on #1289
Hi, we are helping out as maintainers, at least until Bootstrap 5/Reactstrap 9 is stable.

I will reopen, and could one of you please try the `reactstrap@9.0.0-2` prerelease?
Deps have been updated so may be clear now.   (FYI Reactstrap 9 requires Bootstrap 5)

[2021-09-05 08:43] rteex commented on #1289
Hi,
I updated Reactstrap, but the error is still there. My config now: "bootstrap": "^5.1.0", "reactstrap": "^9.0.0-2"

[2021-09-05 15:21] bestguy commented on #1340
@sbaechler , @Allakazan yes we have an opportunity now with the upcoming 9.x release.
However FYI there are no full time maintainers so any PRs for this off [bootstrap5 branch](https://github.com/reactstrap/reactstrap/tree/bootstrap5) would be appreciated.
(A few of us are helping out to get Reactstrap 9.x Bootstrap 5.x stable and released.)

[2021-09-05 15:39] bestguy commented on #1289
Thanks, I've updated rtg to v4, but need to test if addresses everything in this issue.

[2021-09-05 15:40] bestguy commented on #1340
I've updated rtg to v4 in linked PR, but need to test if addresses everything in this issue.  I don't see direct usages of old context API, but catching up here.

[2021-09-05 18:43] bestguy commented on #1340
Also updated Carousel context issue in #2268
We'll do another pre release this week for you all to try out.

[2021-09-05 18:54] bestguy commented on #1289
This should be corrected by #2268 , we'll do a new prerelease this week and can try out.

[2021-09-07 06:01] antonjohansson24hr opened #2269 "Collapse has no animation"
- component: Collapse

- reactstrap version: 8.9.0
- bootstrap version: 5.1.0 (css file imported successfully aswell)
- react version: 16.13.0
- storybook version: 6.2.9

Using the `<Collapse /> ` show/hide functionality works perfectly for me, but the animation does not work at all. Its instantly open'd/closed and I wish to add a 1 second open/close timer. I've been adding `timeout="1000"` prop t

[2021-09-07 07:28] antonjohansson24hr commented on #2269
Gosh.. Was missing the appear={true} prop

[2021-09-07 07:28] #2269 closed

[2021-09-07 08:20] jdrobiecki opened #2270 "Slack invitation link doesn't work"
- components: `documentation`

### What is happening?

In CONTRIBUTING.md there is a link https://reactstrap.herokuapp.com/ which leads to page "There's nothing here, yet.".

[2021-09-07 17:51] DaniAcu commented on #1577
Anyone is already working on this tests? I'd like to help if it's possible 😄

[2021-09-07 22:13] bestguy commented on #2270
Hi, I think this is no longer valid.  There are some new maintainers and afaik Slack is not in use.  We can update the contributing, thanks.

[2021-09-09 10:13] mihirsukhadiya commented on #504
khotina aa khotu chhe te em kari ne link open karavi lidhi khotina || This is wrong. I did this and opened the link. Wrong

[2021-09-09 10:41] mihirsukhadiya commented on #504
import React, { Component } from 'react';
import { UncontrolledDropdown, DropdownToggle, DropdownMenu, DropdownItem, Input } from 'reactstrap';

class Example extends Component {
  render() {
    return (
      <div>
        <UncontrolledDropdown>
          <DropdownToggle caret>
            Dropdown
      </DropdownToggle>
          <DropdownMenu>
            <DropdownItem header>Header</Dropdown

[2021-09-09 10:41] mihirsukhadiya commented on #504
use this

import React, { Component } from 'react';
import { UncontrolledDropdown, DropdownToggle, DropdownMenu, DropdownItem, Input } from 'reactstrap';

class Example extends Component {
  render() {
    return (
      <div>
        <UncontrolledDropdown>
          <DropdownToggle caret>
            Dropdown
      </DropdownToggle>
          <DropdownMenu>
            <DropdownItem header>Header

[2021-09-09 23:37] dvxwang opened #2284 ".indexOf error in TooltipPopoverWrapper"
- components: `TooltipPopoverWrapper`
- reactstrap version `#8.9.0`
- import method `ES`
- react version `#16.13.1`
- bootstrap version `N/A`

### What is happening?

We got this error experienced by a user via Sentry.

### What should be happening?

No error

### Steps to reproduce issue

We were unable to reproduce on our end, but we wanted to see if this was an issue that the team is aware of

[2021-09-10 17:46] mmAli-Akbaryan commented on #1088
what should be in props??

[2021-09-10 21:18] phwebi commented on #2226
Going to close this - please reopen if ^ doesn't work. Thanks!

[2021-09-10 21:18] #2226 closed

[2021-09-10 21:19] phwebi commented on #2216
Going to close this - please reopen if the above suggestions don't work. Thanks!

[2021-09-10 21:19] #2216 closed

[2021-09-15 01:16] SamKomesarook opened #2297 "Input component 'multiple' flag doesnt update onChange event type"
- components: `Input`
- reactstrap version `#8.5.1`
- import method `umd/csj/es`
- react version `#17.0.2`
- bootstrap version `#4.5.2`

### What is happening?

I am creating an input component, making use of the multiple flag. I've created an onChange handler that is expecting an event as type `ChangeEvent<HTMLSelectElement>`, so I can query `event.target.selectedOptions`. However, I get a ts com

[2021-09-17 14:50] LiNuX-Mallu commented on #1325
after $ npm install --save bootstrap@latest

just add
import 'bootstrap' ;

now check by adding <div className="text-center">
this is the simple way

also add <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> in your index.html or it will not work .

if you are using router then you must import 'bootsrtap' in the router file that is enough
so you

[2021-09-30 16:38] ATLUSio commented on #1323
I was able to resolve this issue with the following CSS:

[code]

My issue was the class being removed but the CSS somehow staying. So, when the modal is not open I'm forcing it to allow scrolling, otherwise the modal's css will apply.

[2021-10-01 16:51] vishal5251 commented on #1260
I'm Interested in this one. Thank you!

[2021-10-01 18:01] Spectre-ak commented on #2297
Can I work on this?

[2021-10-02 15:12] ahoran3 commented on #1593
Not sure why it this ticket hasnt been updated, but I've encountered the same issue using version `8.7.0`.
It appears that a fix was made in `8.8.1` as per the [tag release notes here](https://github.com/reactstrap/reactstrap/releases/tag/8.8.1).

[2021-10-04 13:21] dharmdeep opened #2322 "Lazy load with UncontrolledCarousel"
Hello,
          I wants lazy load with UncontrolledCarousel so anyone have any idea.

          import {   UncontrolledCarousel  } from 'reactstrap'
           import img11 from './image/1.jpg'
          import img12 from './image/2.jpg'
          import img13 from './image/3.jpg'

          const Slider = () => {
            const images = [
            {
            src: img11,
            id:

[2021-10-04 19:50] phwebi commented on #2297
@Spectre-ak Of course! PRs are welcome. Here are our [contributing guidelines](https://github.com/reactstrap/reactstrap/blob/master/CONTRIBUTING.md).

[2021-10-08 01:21] DaddyWarbucks commented on #1748
Thanks for the update!

[2021-10-13 12:38] AarRidho commented on #1833
Up

[2021-10-15 16:15] eweiler-sfm opened #2337 "Button className doesn't override bootstrap classes because btn and btn-secondary are added after custom classes"
- components: `Button` (in an input-group)
- reactstrap version `#8.6.0`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#4.5.2`

### What is happening?

I want to apply custom css to a <Button className={styles.myCssModuleStyleName}>

I want to override something that comes from `.input-group > .input-group-prepend > .btn`

The css classes render with my custom class first:

<

[2021-10-15 16:32] krnlde opened #2338 "Bootstrap 5 ToastHeader: charCode warning"
- components: `Toast`
- reactstrap version `#9.0.0-7`
- import method `yarn start`
- react version `>=16.8.0`
- bootstrap version `^5.1.3`

### What is happening?
Including Reacstrap Toasts will immediately throw an Error into the browser console stating: **React does not recognize the `charCode` prop on a DOM element**

### What should be happening?

### Steps to reproduce issue

1. clone this re

[2021-10-15 16:37] jSadoski commented on #2337
I've been experiencing this issue all over the place, including with the `DropdownToggle`, which essentially cannot have `btn-secondary` styles overridden using `classNames` because it's appended last. The only way to override it is to use the `style` prop, which [is not good](https://reactjs.org/docs/faq-styling.html#are-inline-styles-bad).

[2021-10-16 15:16] FPDK opened #2341 "Bootstrap5: FormGroup's user-applied classNames should take precendence over component classNames."
- components: `FormGroup.js`
- reactstrap version `9.0.0-8`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

The FormGroup component gets "mb-3" applied if formCheck is false, and it is not possible to easily overwrite this with our own className prop.
Introduced in this commit: https://github.com/reactstrap/reactstrap/commit/d4c8381bae01e6933829

[2021-10-21 14:46] dharmdeep opened #2345 "How to pass index of selected image from array in UncontrolledCarousel"
Hello,
I wants to pass index of selected image from array in UncontrolledCarousel, so anyone have any idea. When someone click on perticular image of the slider then, it should be redirect on any other site.

[code]

[2021-10-22 01:21] zaytri opened #2346 "Dropdown: How to have keyboard events respond correctly using input inside DropdownToggle?"
### Issue description

- components: `Dropdown`
- reactstrap version `8.9.0`
- react version `17.0.2`
- bootstrap version `4.3.1`

### What is happening?

I'm using an `input` field within `DropdownToggle` to implement a search bar. If I try to use arrow keys (up and down) to select an item from the dropdown menu, it just does the normal up/down within an input field.

### What should be happening

[2021-10-26 20:15] zedtux opened #2351 "Carousel: Allow disabling keyboard arrows to change slide"
- components: `Carousel`
- reactstrap version `#8.9.0`
- import method `umd/csj/es`
- react version `#17.0.1`
- bootstrap version `#4.5.3`

### What is happening?

Given a carousel on the page, when I use the left/right keyboard keys the carousel moves to another slide, which I'd like to avoid.

### What should be happening?

A `disableListeningKeyboard` property could be added in order to skip th

[2021-10-27 17:14] #2338 closed, assigned to nobody

[2021-10-28 09:21] morkeleb opened #2369 "It's difficult to come to the repository from the storybook"
Awesome update on the docs.
However I found it difficult to find the github link to the repository.

[2021-10-28 14:21] its4zahoor opened #2370 "The react-transition-group dependency has a breaking change for minor release v8.10.x"
- components: `react-transition-group`
- reactstrap version `v8.10.x`

### What is happening?

With the minor `reactstrap v8.10.x` update, the `react-transition-group` peer dependency has bumped to a major and breaking version, causing any new builds to fail on docker and after `yarn install`.

Below is the comparison of yarn lock files after (left), before (right)
![build-issue](https://user-imag

[2021-10-28 19:22] jSadoski opened #2371 "Legacy 8.10.1 Documentation does not load correctly"
- components: n/a
- reactstrap version 9.0.0
- import method: n/a
- react version: n/a
- bootstrap version: n/a

### What is happening?

1. Visiting https://reactstrap.github.io/legacy/8.10.1 directly loads the basic page but cannot access any of the assets. Links also lead to pages on the root path. I'm guessing the links did not get updated to the new legacy docs path.

2. Clicking the link for

[2021-10-31 06:33] kirtirajsinh commented on #711
I've tried many times deleting and then running `yarn install` it's giving me the same error. On adding Tailwind CSS as it needs craco instead of react-scripts and now it shows that "/bin/sh: 1: craco: not found". Can anyone Help? I'm in a hackathon and not even the mentors are able to solve it.

[2021-11-01 07:47] Tsyklop opened #2373 "Modal "onClosed" handler doesn't called"
- components: `Modal`
- reactstrap version `#9.0.0`
- import method `import {Modal, ModalBody, ModalFooter, ModalHeader} from "reactstrap";`
- react version `#17.0.2`
- bootstrap version `5.1.3`

### What is happening?

`onClosed` handler doesn't called after modal closed. With `onOpened` all fine.

### What should be happening?

`onClosed` handler called and print "onCLosed" in console.

### Step

[2021-11-01 16:39] jSadoski commented on #2371
Poking around, I found #2368 which has been merged and uses this link, which works right now: https://deploy-preview-2356--reactstrap.netlify.app/.

[2021-11-01 19:10] RajeevPullat commented on #2371
@jSadoski  Super helpful <3

[2021-11-01 20:33] sayinmehmet47 opened #2376 "Code for carousel is not working"
- components: `Carousel`
- reactstrap version `^8.10.0`

- react version `^17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

### What should be happening?
Code snipped for carousel is not working

When I copy the snipped code for carousel, it should work. Eventhough Uncontrolled is working well Stories is not working

### Error message in console

[code]

### Code

[code]

[2021-11-02 10:11] sagarsanjeev opened #2377 "Scrollable Table with Fixed Header"
Is there a way to create a table within a card that will scroll down in the table without the header instead of overflowing the card. I cant see anything in the docs and the Table component
Some Thing like this https://v4.mui.com/components/tables/#fixed-header

[2021-11-03 20:50] Drakenwolf commented on #1157
Any update or info about this issue? I am having a similar issue with the UncontrolledAccordion

[2021-11-04 18:24] hollygirouard commented on #2256
@Jazzykhan - Try `react-table`. It's got a lot more functionality.

[2021-11-05 02:57] John-Shortland-PikiTech commented on #1748
Please can you direct me to the release notes? Also, any documentation for migrating from 8.10.0 to 9.0.0? 🤔

[2021-11-05 03:32] jakeboone02 commented on #1748
@John-Shortland-PikiTech you quoted basically what you're asking for.

Release notes: https://github.com/reactstrap/reactstrap/releases/tag/v9.0.0

Migration from v8: https://reactstrap.github.io/?path=/story/home-upgrading--page

[2021-11-05 12:55] AdeonMaster commented on #2373
I've tried it and everything is working as expected. You can check this example to ensure - https://codesandbox.io/s/nifty-lake-696i1

[2021-11-06 10:03] GuyoST opened #2379 "Problem with form input switch : it displays as a checkbox"
- components: `switch`
- reactstrap version `#9.0.0`
- import method `umd/csj/es`
- react version `#16.13`
- bootstrap version `#5.1`

### What is happening?
We can see the problem here : https://reactstrap.github.io/?path=/docs/components-forms--input
In the form, you can test component : select switch.
It shows a checkbox instead of the switch component (like in reactstrap 8 with bootstrap 4 wit

[2021-11-09 06:08] scottpageindysoft commented on #2171
I don't know why this is closed.
This is a major issue for those of us upgrading to v9, that previously used InputGroupAddon.

What alternative(s) should we be using?  Google only has this one result that clearly calls out reactstrap 9 and InputGroupAddon.

[2021-11-10 07:37] varamsky commented on #1833
Still getting this error when using Modal
`"reactstrap": "^9.0.0"`

[2021-11-10 10:46] rkoleci commented on #2377
yes, you can easily achieve this with position: sticky for the tbl header.

I will try to make a PR this week for this :)

[2021-11-11 14:17] rkoleci commented on #2377
ReactStrap will not merge my PR as they don't offer such a component at the moment,
but If you wanna do it:

`  <Table {...args}>
      <thead style={{
        background: 'white',
        position: 'sticky',
        top: 0
      }}>`

add the above style to <thead> and will work.

Note: If the page has scroll you might need to handle that as well in relation to the table scroll.

[2021-11-14 07:32] BiswaViraj commented on #2376
It works when we pass the **<CarousetItem/>** as an array

[code]
The render function for the CarouselItems in code only handles for this array type of items, it fails when you manually put CarouselItems as you did.
Hence, the current behaviour is not taking into consideration of the manually written children, which needs to be fixed.

[2021-11-15 06:29] inai-suraj opened #2390 "Error on reactstrap website"
### Issue description

reactstrap's github website is throwing some error and not able to access it.

### What is happening?

Not able to load the page.

### Steps to reproduce issue

1.  Go to [https://reactstrap.github.io/](https://reactstrap.github.io/)

### Error message in console

[code]

[2021-11-15 13:43] coucoseth commented on #2171
was there a fix to this?

[2021-11-16 09:59] ronaklalwaniii opened #2393 "Carousel Component captions overflow"
- components: `Carousel`
- reactstrap version `9.0.0`
- react version `17.0.2`
- bootstrap version `5.1.0`

### What is happening?

- When using a carousel the captions are visible twice & overflow out of the component.

### What should be happening?

- Captions shouldn't overflow out of the component.

### Steps to reproduce issue

- Copy the code from documentation: [https://reactstrap.github.io

[2021-11-16 13:32] filmons commented on #711
Really helpful! Thank you!

[2021-11-16 16:35] arunachaleshwaran commented on #2171
i also having same issue.

[2021-11-17 17:18] waterfoul opened #2396 "NavBar with container set does not honor css modules"
- components: `Navbar`
- reactstrap version `#9.0.1`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

CSS modules are not honored for navbar containers

### What should be happening?

CSS modules should be honored for navbar containers

### Steps to reproduce issue

1. Use Util.setGlobalCssModule
2. Use Navbar

### Code

https://stackblitz.com/ed

[2021-11-18 08:29] raihanputraramd opened #2397 "Accordion is not working on next js"
- components: `Accordion`
- reactstrap version `9.0.0`
- react version `17.0.2`
- bootstrap version `5.1.3`
- Next Js Version `12.0.3`

### What is happening?

The accordion is not working properly, it got some bug on the console

### What should be happening?

The Accordion must be working because container, row, form group is fine

### Error message in console

[code]

### Photo
![error react st

[2021-11-19 15:26] jSadoski commented on #2371
An update: The link in the v9 docs to the legacy v8 docs still works correctly, but it's still linking to the deploy preview 2356, which I'm guessing is likely to change.

[2021-11-19 19:54] doverradio commented on #595
So, I have noticed that despite importing a custom style sheet which imports a class I made named `custom-modal-style`, using `contentClassName` to display the styles, and rendering the Modal, it does apply the style but not consistently.  What I mean is even when I see the modal nearly fill up the entire screen, when I refresh the page and reload the same modal it fails to apply the new style siz

[2021-11-19 22:09] doverradio opened #2401 "Reactstrap Modal - Stylesheet Not Being Fully Applied With contentClassName Prop"
Hello, I am using `Modal` and I just want to **expand its size to 95% of the visible area**.

Currently, when applying the prop `size="xl"` to `Modal`, it is too small still for my needs. So, I found a potential solution [on this page ](https://dev.to/itz_giddy/the-right-way-to-resize-reactstrap-s-modal-component-302o) that showed applying a custom class coming from an external stylesheet into rea

[2021-11-21 04:09] fkrauthan commented on #1833
Same. Any news on this? I was hoping the bootstrap 5 upgrade of reactstrap would fix this warning?

[2021-11-21 04:10] fkrauthan commented on #1289
I guess it got removed from the actual bootstrap 5 upgrade as the warning seem to still exist.

[2021-11-21 11:57] LueSantos commented on #711
Voltou a funcionar apenas executando o yarn na pasta...

[2021-11-22 12:57] sbaechler commented on #1972
Would it be possible to backport #2104 to V8?

Even though it is a breaking change it is often not possible for projects to update from Bootstrap 4 to Bootstrap 5.

Popper 1 makes testing with JSDOM quite difficult and sometimes even impossible.

[2021-11-24 16:52] chauchausoup opened #2406 "Form Input type file is not working."
- components: `Input`
- reactstrap version "^6.5.0"
- import method `umd/csj/es`
- react version `#16.13.1`
- bootstrap version `^4.1.3`

Cannot show the files to choose when clicked on, Input type: file .

Just click on the  **Choose File** section from here https://reactstrap.github.io/?path=/docs/components-forms--input and the issue isr reproduced.

[2021-11-25 01:03] jalik commented on #2171
Please see https://github.com/reactstrap/reactstrap/releases/tag/v9.0.0

[2021-11-25 13:35] #2376 closed

[2021-11-26 10:27] #2406 closed

[2021-11-30 19:23] tykavanaugh opened #2409 "No documentation of props such as "className""
### What is happening?
I was hoping to add stuff like margins or padding. I found by sheer accident a code snippet of someone using "className" and that seemed to work. ie `className="m-5"` to add bootstrap classes that aren't specific to component

### What should be happening?
Most common and seemingly very important props are not explained at all in the documentation. For example, if you wanted

[2021-12-05 11:51] janicekt opened #2410 "ButtonDropdown, Dropdown in InputGroup has a broken rounded corners"
- components: ` ButtonDropdown, Dropdown in InputGroup`
- reactstrap version `#9.0`
- react version `any`
- bootstrap version `#5.1`

### What is happening?
<img width="452" alt="Snímek obrazovky 2021-12-05 v 12 47 27" src="https://user-images.githubusercontent.com/25146453/144745228-e45178b5-27b9-4e36-a004-85e5080f4d49.png">

if there is a ButtonDropdown or Dropdown in the InputGroup, then the w

[2021-12-05 12:05] Zahirmasoodi commented on #1152
https://reactstrap.github.io/?path=/docs/home-upgrading--page

[2021-12-06 14:03] lukbak opened #2411 "Modal - remove scroll from the body element"
- components: `Modal`
- reactstrap version `#9.0.1`
- bootstrap version `#5.1.3`

### What is happening?

When a Modal is opened, the scroll from the `<body>` element is not removed.

### What should be happening?

Scroll from the `<body>` element should be removed.

### Steps to reproduce issue

1. Open Modal.
2. Scroll content.
3. The entire page is scrolled.

[2021-12-07 10:38] kalichaudhary opened #2412 "Checkbox/Radio button"
Checkbox or Radio button not working in Popover

[2021-12-09 05:25] openedhardware opened #2414 "Radio Button Group Example Code"
https://reactstrap.github.io/?path=/docs/components-button--button-group#checkbox-and-radio

Seems the sample code is wrong.. Can anyone share the exact code of the radio buttons?

[2021-12-10 16:00] mikegoatly opened #2415 "FormGroup: Using switch prop results in warning: Received `true` for a non-boolean attribute `switch`"
- components: `name`
- reactstrap version `#9.0.1`
- import method `typescript, import { FormGroup } from 'reactstrap' - whichever that is :)`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

When using the `switch` prop with `FormGroup`:

[code]

I get this warning in the browser:

[code]

### What should be happening?

No warnings should be displayed.

### Steps to

[2021-12-14 07:45] Reddine opened #2417 "Carousel: Console warning about Context"
- components: Carousel
- reactstrap version `#9.0.1`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

Get a warning in the console :

`Warning: Carousel.childContextTypes is specified but there is no getChildContext() method on the instance. You can either define getChildContext() on Carousel or remove childContextTypes from it.`

### What should

[2021-12-14 20:32] kevincolten opened #2420 "Accordion Docs are incorrect"
- components: `Accordion Docs`
- reactstrap version `v9.x`
- bootstrap version `#5.x.x`

### What is happening?

The Accordion docs (Examples and Props) are incorrect. They are using `AccordionItem` in place of `AccordionBody`

[code]

### What should be happening?
Using `AccordionBody`
[code]

### Steps to reproduce issue

Take a look at https://reactstrap.github.io/?path=/docs/components-accordi

[2021-12-17 15:42] leszczynski-jakub opened #2421 "Carousel: sliding wrong direction"
- components: `Carousel`
- reactstrap version `#9.0.1`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

Carousel slide in wrong direction ie. only from left to right.

### What should be happening?

Slides should be sliding the same direction as indicators or control ie. moving from right to left and left to right accordingly.

### Steps to reproduce issue

I created

[2021-12-22 13:02] leofukui commented on #2390
Hi, maybe you solved this issue already but one of my teammate had exactly the same issue trying to open the Storybook of one of our projects.

In our case it was caused by an extension she had on Chrome (related to timezone manipulation).

Try to open the URL using the Incognito Mode (it disables the extensions) or disabling the extensions you have.

Hope it helps!

[2021-12-23 01:19] seungprk opened #2422 "Modal click events bubble up in certain cases"
- components: `Modal`
- reactstrap version `#9.0.1`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

Can repro in older versions also

### What is happening?

Modal click events bubble up the react tree if you (1) click down within the modal and let go outside the modal or (2) click down within a button and let go outside of the initially clicked button

### What should be happening?

Modal

[2021-12-23 02:02] seungprk commented on #2422
It looks like [this is the relevant line of code](https://github.com/reactstrap/reactstrap/blob/37a63c673269bcd6eb3a7331583afa94113b73f6/src/Modal.js#L252). If I understand correctly, the Modal and its children are nested inside the Fade component, so any click events inside or outside the modal trigger handleBackdropClick function when the modal is active.

[2021-12-23 15:46] lilasquared opened #2425 "Badge text color not applied for light color backgrounds"
- components: `Badge`
- reactstrap version `#9.0.1`
- react version `#17.0.0`
- bootstrap version `#5.1.3`

### What is happening?

for `<Badge color="warning">Some Text</Badge>` the text-color is `white` when it probably should be `dark`.  This is a change from when there were `badge-*` classes, where now the badges use `bg-*` utility classes which only set the background. [source](https://getboo

[2021-12-28 20:48] fkrauthan commented on #1833
This still seem to be an issue with `9.0.1` as well.

[2021-12-28 20:49] fkrauthan commented on #1738
Hopefully this can be merged soon.

[2021-12-30 22:00] Nabrok opened #2427 "Tree shaking not working in version 9?"
- reactstrap version `9.0.1`
- react version `17.0.2`
- bootstrap version `5.1.3`

### What is happening?

Full bundle seems to be included at all times.

Compare: https://bundlephobia.com/package/reactstrap@9.0.1 - Exports Analysis shows everything at the same size
As opposed to: https://bundlephobia.com/package/reactstrap@8.10.1 - Exports Analysis shows different sizes.

### What should be happe

[2021-12-31 06:00] inai-suraj commented on #2390
Hey @leofukui , thanks for the suggestion. The problem was exactly the same as you mentioned.
By the way, I came across this website and was using this for reference : [https://6-4-0--reactstrap.netlify.app/](https://6-4-0--reactstrap.netlify.app/)

[2021-12-31 06:00] #2390 closed

[2021-12-31 19:53] benjaminorthner commented on #1213
omg thank you @nerfologist ... Spent so long on this and in the end it was just vimium for me aswell

[2022-01-06 04:55] Irtaza1993 commented on #711
I've deleted directory node_module, then run yarn install && yarn start commands but fi=or me it's still hasn't fixed yet.

[2022-01-07 01:03] javierpal commented on #1159
experiencing the same error in "reactstrap": "^8.10.1",

[2022-01-07 13:28] ttuanho commented on #2397
Do you mind if posting the code snippet of the `Accordion`? I have encountered similar problem and suggestion in #2420 helped me fix this.

[2022-01-07 15:07] joshuajameshunt opened #2431 "<FormGroup> renders as <div class="mb-3">"
- components: `FormGroup`
- reactstrap version `9.0.1`
- import method `scss`
- react version `17.0.2`
- bootstrap version `5.1.3`

### What is happening?

<FormGroup> is rendering as <div class="mb-3">

### What should be happening?

<FormGroup> should be rendering as <div class="form-group">

### Steps to reproduce issue

1. Add a <FormGroup> component
2. Look at the render output

### Error mes

[2022-01-08 23:44] Manolais commented on #2412
Could you be a little more specific or show some code?

[2022-01-10 14:05] filippos13 commented on #2393
I am facing the same problem with the same setup.

[2022-01-13 17:48] scivarolo commented on #2431
According to [Bootstrap 5's migration docs](https://getbootstrap.com/docs/5.1/migration/#forms), form-specific layout classes (`.form-group`, `.form-row`, `.form-inline`) were dropped in favor of using the grid system

[2022-01-14 19:36] ECCKaka opened #2435 "Input type="select" onBlur does not trigger onfocusout"
- components: `Input`
- reactstrap version `#8.4.1`
- import method `umd/csj/es`
       import "bootstrap/dist/css/bootstrap.min.css";
- react version `#16.12.0`
- bootstrap version `#4.3.1`

### What is happening?

<Input type="select"> onBlur does not trigger until click on other fields or click on the <option>

### What should be happening?

<Input type="select"> onBlur should be triggered when

[2022-01-17 04:30] deybith commented on #2171
same issue.

[2022-01-17 15:30] deybith commented on #2171
@jalik is right.

Within Reactstrap 9 upgrade.

InputGroupAddon - This in no longer needed in Bootstrap 5, you can now add Buttons, Inputs directly to InputGroups in the order you wish.

the new way to do it is in: https://reactstrap.github.io/?path=/docs/components-inputgroup--input-group-addon

[2022-01-18 11:58] umerfarooq69 commented on #1325
Try this if you just want to simply import bootstrap like cmd
npm install --save bootstrap

[2022-01-19 10:49] Gunbit commented on #2393
same problem....

[2022-01-19 20:37] jSadoski commented on #2371
Since the link works, I consider this resolved for now. Thank you!

[2022-01-19 20:37] #2371 closed

[2022-01-22 14:38] Kaeon opened #2437 "UncontrolledTooltip shows hasOwnProperty error when using refs"
### Issue description

- components: `UncontrolledTooltip`
- reactstrap version `#8.10.1`
- react version `#17.0.2`
- bootstrap version `#4.61.1`

### What is happening?

If I use an UncontrolledTooltip with a Ref I get console errors as described below. The tooltips work though. In other components I'm using them with strings are target, there I get no errors. I tried to make sure the Ref exists

[2022-01-22 14:40] amironline opened #2438 "React does not recognize the `accordionId` prop on a DOM element."
- components: `Accordion`
- reactstrap version `#9.0.1`
- import method `typescript, import { Accordion, AccordionItem, AccordionHeader } from 'reactstrap'`
- react version `#16.11.0`
- bootstrap version `#5.1.3`

### What is happening?

It doesn't work properly. Also, It report an error on console.
`Warning: React does not recognize the 'accordionId' prop on a DOM element. If you intentionally wa

[2022-01-25 09:11] #2373 closed

[2022-01-27 06:12] rj-david commented on #2421
We are also experiencing this

[2022-01-31 07:39] ramcapDevs commented on #2438
Same for me, just used the <Collapse> component as an alternative.

`const [targetAccordion, setTargetAccordion] = useState("accordionPlaces1");`

`  const onAccordionToggle = (index) => {
    console.log(index);
    index === targetAccordion
      ? setTargetAccordion("")
      : setTargetAccordion(index);
  };`

`<Accordion flush open={targetAccordion} toggle={onAccordionToggle}>
    <AccordionI

[2022-01-31 07:44] ramcapDevs commented on #2438
Same for me, just used the <Collapse> component as alternative.

[2022-02-01 13:06] Thedineshk24 commented on #2435
Hi, i think it's react bug. please check this [Link => ](https://github.com/facebook/react/issues/12363)

I've also [created a simple Input component](https://codesandbox.io/s/onblur-bug-react-bootstrap-o12id?file=/src/App.js) using bootstrap and react it look like the same as Reactstrap

`<Input type="select" />`

there also I'm facing

[2022-02-01 15:11] watinha commented on #1945
After migrating to Bootstrap 5, this issue is still valid? Just tested here, and pressing space worked perfectly on Firefix.

[2022-02-04 18:29] JosephBrooksbank commented on #2208
#2259 fixed this behavior by adding a `menuRole: boolean | string` prop to the `Dropdown` component. The `aria-haspopup` prop on `DropdownToggle` is no longer recommended, it seems

[2022-02-05 11:33] martygo commented on #1229
An exemple that work me:

import { useState } from "react";
import {Collapse, Nav, Navbar, NavbarBrand, NavbarToggler, NavItem, NavLink} from "reactstrap"
import { BsBorderWidth } from 'react-icons/bs';
import './styles.css';

export function Menu () {
	const [isCollapsed, setCollapsed] = useState(false);

	function toogleMenuMobile() {
		setCollapsed(!isCollapsed);
	}

    return (
      <>

[2022-02-05 12:09] Sarfraz-droid commented on #2414
Can you brief a bit? what is wrong?

[2022-02-05 15:17] MichaelDimmitt commented on #1179
Sticky cares about
1) parent element height and maxHeight
2) overflow-y

often this involves changing heights to minHeight
or removing overflow-y: hidden

that was specified before the sticky elements existed.

[2022-02-06 03:31] joshuajameshunt commented on #2431
@scivarolo you are correct, it just seems like adding `.form-group { margin-bottom: 1rem; }` to your global CSS is a lot more convenient than having to remove every single non-check FormGroup from your project (or replace all references with your own FormGroup component) because you styled it differently (a bottom margin of only 0.75rem, for example).

[2022-02-09 23:25] juandelacruz23 commented on #2431
It's also a bad idea for me that the `mb-3` is added after classnames, making it impossible to remove that margin with utility classes nor with a personalized bootstrap variables file.

[2022-02-10 12:12] IgorBaio commented on #1010
Use

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $your_color !important
}

on main.scsss

[2022-02-11 13:21] phsoulaneix commented on #2438
Same for me

[2022-02-14 20:21] janeosaur opened #2455 "Webpack can't find any reactstrap components, keeps looking in nonexistent directory (/es)?"
- components: all
- reactstrap version `#9.0.1`
- import method `es`
- react version `#16.8.1`
- bootstrap version `#5.1.3`

### What is happening?

After upgrading bootstrap from 4x to 5x, reactstrap from 8x to 9x,  and removing the previous types for reactstrapv8... I'm unable to use any reactstrap components. For some reason our webpack cannot find any of the reactstrap components, and prepends

[2022-02-14 20:49] christian0712 commented on #2393
Same problem x3

[2022-02-16 13:56] vmoll commented on #2393
Same problem here too!

[2022-02-16 16:15] Maybach91 opened #2458 "(docs) Accordion Example Code is wrong - accordionId on AccordionItem"
- components: `Accordion`
- reactstrap version `#9.0.1`
- import method `es`
- react version `#16.8.0`
- bootstrap version `#5.1.3`

### What is happening?

The code in the documentation is misleading, it uses `AccordionItem` as `AccordionBody` and tries to set the `accordionId` on the `AccordionItem` which is not possible.

### What should be happening?

Docs code should be correct + examples sho

[2022-02-17 08:40] vincentfarion commented on #2421
Hi,
I have investigated in order to find where the problem comes from.
The sliding direction is defined in the transformation properties in 2 differents CSS classes. One for the left to right moving and the other one for the right to left moving. Affectation of the right CSS classes is implemented in the lines 69 - 71 in the CarouselItem.js file:

[code]
There is a condition on the direction varia

[2022-02-18 10:08] rj-david commented on #2421
Fixed: https://deploy-preview-2461--reactstrap.netlify.app/?path=/docs/components-carousel--carousel

[2022-02-21 19:43] BrandonDevU95 commented on #2393
Same problem x4, When are they going to fix this?

[2022-02-21 23:09] #2208 closed

[2022-02-23 20:26] mnajafiyazdi-Maya commented on #2165
Has this been addressed? Or any better workaround than what @Ltchoc221  has tried?

[2022-02-27 15:45] YohannesTz commented on #2393
I am still facing the problem, is there any fix?

[2022-03-03 16:46] illandril opened #2467 "Keyboard support not working for UncontrolledDropdown with menuRole="listbox""
- components: `UncontrolledDropdown`
- reactstrap version `#9.0.1`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

Keyboard navigation doesn't work for `UncontrolledDropdown` when using `menuRole="listbox"`.
It looks like the issue is `this.context` is an empty object when `this.getMenuItems()` is called, making it look for items with a role of

[2022-03-04 06:19] f3rret opened #2468 "AccordionBody instead AccordionItem"
Guys, I think there https://reactstrap.github.io/?path=/docs/components-accordion--accordion  must be AccordionBody tag inside AccordionItem instead another AccordionItem

[2022-03-04 12:31] aizaz-react opened #2469 "page scroll while focusing on input in mobile web browser"
[code]

this is my component, and when I focus or tap on this component my page scrolls to the end of the page.

[2022-03-04 22:12] #2369 closed

[2022-03-04 22:30] davidacevedo commented on #2431
`form-group` won't be added back in as it doesn't exist anymore in the bootstrap context, but what about having a prop that disables the default margin class?

[2022-03-07 09:26] acelaya opened #2473 "All components throw "Warning: React.jsx: type is invalid -- expected a string [...] or a class/function [...] but got: undefined" with jest"
### Issue description

- components: all
- reactstrap version `#9.0.1`
- import method `es`
- react version `#17.0.1`
- bootstrap version `#5.1.3`

### What is happening?

I have just finished migrating from reactstrap 8 with bootstrap 4 to reactstrap 9 with wiotstrap 5

Everything seems to be working smoothly, except on my tests with jest, where every single import from `"reactstrap"` resolves to

[2022-03-07 09:27] acelaya commented on #2473
Now that I think about it, this should probably be a discussion, not an issue. Feel free to convert to discussion.

[2022-03-07 14:57] acelaya commented on #2473
I have managed to fix it by manually mapping the module resolution for jest, using jest's `moduleNameMapper` config option:

jest.config.js

[code]

[2022-03-07 14:57] #2473 closed

[2022-03-08 12:20] Timonwa commented on #1833
Till now, its still an issue.

[2022-03-09 13:53] ansulagrawal opened #2474 "NavbarToggler not working on click"
- components: `NavbarToggler`
- reactstrap version `#9.0.0`
- import method `umd/csj/es`
- react version `#x.x.x`
- bootstrap version `#x.x.x`

### What is happening?
On smaller size navbar toggle is not working.

https://user-images.githubusercontent.com/55939700/157454993-9112f5e6-3925-4e79-a5e6-8c520d92da5a.mp4

### What should be happening?

The navbar should be expand.

### Code
https://codes

[2022-03-10 12:53] kirciemre commented on #2393
I used this for CSS to solve bad text but the error message in colsone still continues 😢

`.carousel-indicators button {
  color: transparent;
}`

[2022-03-10 14:55] YohannesTz commented on #2393
oh thanks! I just removed the text from the carousel and It worked!

[2022-03-10 16:48] filippos13 commented on #2393
Removing the caption is a temp solution and should not be considered as a fix. Lately, the carousel slides one way is anyone else getting the same behaviour?

[2022-03-11 10:04] HallofFamer opened #2476 "noRefCheck function not working for class component"
It seems that the documentation on Reactstrap has something like this to deal with findDOMNode warning:

[code]

But it does not seem to work for me, still get the warning: `findDOMNode is deprecated in StrictMode.` Moreover, the toggle will not even work, it does not dismiss the alert at all. I am confused, what is this noRefCheck function at all, and how to use it? I dont even see anyone asking

[2022-03-12 09:46] YohannesTz commented on #2393
yeah removing captions might be a temporary solution but that's what I got at that time. I am also getting the same weird behavior on the carousel, It only slides one way, also doesn't have animation to the other way.

[2022-03-13 13:19] ansulagrawal commented on #2476
Its not working for Functional component too.

[2022-03-16 03:57] #2420 closed

[2022-03-18 21:04] kirciemre commented on #2393
Even reactstrap's own documentation has the same error. Unfortunately, we will manage with workarounds until a solution is found by the reactstrap team. :face_with_head_bandage:

[2022-03-23 08:42] kai-dorschner-twinsity commented on #1833
What makes it worse is  that there are multiple open PRs trying to fix that since January 2020.
https://github.com/reactstrap/reactstrap/pulls?q=is%3Apr+is%3Aopen+transition

[2022-03-24 18:50] AdetolaAremu commented on #2393
I am experiencing same issue, showing up in my console

[2022-03-27 12:16] BiswaViraj commented on #2474
@ansulagrawal You're using the `Collapse` component that needs `isOpen` props and need to update the value passed to `isOpen` when clicking on the `NavbarToggler`.
Please, look into this example https://github.com/reactstrap/reactstrap/blob/master/stories/examples/NavbarToggler.js

[2022-03-27 12:21] BiswaViraj commented on #2476
Follow the code from here https://github.com/reactstrap/reactstrap/blob/master/stories/examples/AlertDismiss.js
The storybook docs examples are not 100% correct.

[2022-03-28 11:58] faisalch10 commented on #741
By using tag prop on reactstrap element you can customize the rendered element

Example

Before:

 <ModalHeader className='px-4 py-3 campaignreviewomodal'></Modal>
Here h5 is rendered in DOM

After:

Using tag property
 <ModalHeader tag={'div'} className='px-4 py-3 campaignreviewomodal'></Modal>
Here div is rendered in DOM

[2022-03-31 07:22] #2474 closed

[2022-03-31 15:06] Sysix commented on #2427
Using Webpack v5 and the complete Package is included in my code.
Maybe it will solve the problem when the components are seperated into its own files.
Webpack is not that clever in tree shaking from a single file ;)

![grafik](https://user-images.githubusercontent.com/3897725/161087641-ac13b342-d1b8-4b75-9a44-61aae0409c9a.png)

[2022-04-01 17:44] rjdjohnston commented on #711
Can anyone update the docs and advise to browse into project folder and run `yarn` ? Crazy

[2022-04-04 00:40] HallofFamer commented on #2476
I still dont understand what is noRefCheck() function and how it works, it doesnt seem to prevent the warning message.

[2022-04-08 18:45] mikegoatly commented on #2415
For visibility here, @jfhenon mentioned this workaround in the pull request:

[2022-04-09 12:58] appasaheb4 opened #2490 "'Table' cannot be used as a JSX component"
<img width="599" alt="Screenshot 2022-04-09 at 6 28 22 PM" src="https://user-images.githubusercontent.com/24726539/162575114-303f9a5c-0d4c-45a0-864e-a5002a28f02a.png">

facing issue

[2022-04-11 18:55] leonardoDomper commented on #2490
Same problem

[2022-04-13 04:03] #2415 closed

[2022-04-13 04:15] davidacevedo commented on #2415
Fix should be a part of `9.0.2`

[2022-04-13 21:25] lukbak commented on #2490
You should update React to version 18 or use resolutions in your `package.json`:
[code]

[2022-04-15 22:51] RonaldKevinBurton commented on #2490
With VS Code I still get a warning. Perhaps the format of "YOUR CUSTOM VERSION" is incorrect. My package.json has - 	"@types/react": "^17.0.3" in the dependencies.

[2022-04-16 07:55] lukbak commented on #2490
@RonaldKevinBurton I think the version you are using is correct. I can only confirm that the latest version (currently `17.0.44`) is working fine.

#### Required actions:
1. `yarn install`

#### Additional actions:
1. Delete the `node_modules` folder and `.lock` files manually
2. Use `yarn install` command
3. Close and reopen your editor.

[2022-04-17 18:35] RonaldKevinBurton commented on #2490
That brings up another can or worms. In pakcage.json I have in the dependencies:
[code]
So you see that I have a different 'types' version than the react version should I be using

[code]
?

[2022-04-17 20:09] AurelioDeRosa opened #2500 "Missing support for Buttons as Links (aka btn-link)"
- components: `Button`
- reactstrap version `9.0.2`
- import method `es`
- react version `#17.0.1`
- bootstrap version `#5.1.3`

### What is happening?

There seems to be no way to recreate a button as a link as shown in the example here: https://getbootstrap.com/docs/5.0/components/buttons/#examples

### What should be happening?

Support could be provided

### Steps to reproduce issue

N/A

[2022-04-17 20:35] lukbak commented on #2500
I do not understand. Do you mean there is no such example in the component documentation?

`<Button color="link">Link</Button>`

[2022-04-17 21:29] AurelioDeRosa commented on #2500
My bad on not finding it. I didn't realize the "link" would be under `color`.

[2022-04-17 21:29] #2500 closed

[2022-04-20 18:04] qmonmert opened #2501 "Since React 18, errors on Popover and Tooltip"
- components: `Popover` & `Tooltip`
- reactstrap version `#9.0.2`
- react version `#18.0.0`

### What is happening?

Since React 18, I have an error when I build my lib

### Error message in console

[code]

<img width="712" alt="image" src="https://user-images.githubusercontent.com/9989211/164294034-617a9284-fec9-4b8e-823d-06ff1a029a22.png">

An idea?

Thanks

[2022-04-22 23:52] allenross356 commented on #305
tried to get the tooltip working for a while..

the reactstrap document for tooltip is poor quality..

so, i read this entire post.. clicked the "demo" url.. but it isn't active anymore..

i copied and pasted the code provided for the demo.. but it didn't work..

gave up after a while.. because a small tooltip isn't worth as much time..

i recommend reactstrap creators to improve the tooltip docum

[2022-04-24 09:15] OxyTJ opened #2504 "AccordionHeader TypeError: toggle is not a function"
- components: `AccordionHeader`
- reactstrap version `^9.0.2`
- import method - not sure what you mean here, sorry
- react version `^18.0.0
- bootstrap version `^5.1.3`

### What is happening?

When clicking on the accordion, the following exception is thrown in the console:

[code]

The accordion still collapses and expands successfully, however, this console error is causing the page to crash wi

[2022-04-28 02:15] davidlyons opened #2508 "Reactstrap 9 require('reactstrap') returns string in Create React App"
### What is happening?

In Create React App:

`require('reactstrap')`

with Reactstrap 8, returns `Module` ✅

with Reactstrap 9, returns string `/static/media/reactstrap.d7ce21f132f9948c585d.cjs` ❌
so Reactstrap components are undefined

### What should be happening?

`require('reactstrap')` should return `Module` in Reactstrap 9

### Repo reproducing the issue:
https://github.com/davidlyons/cra-r

[2022-04-29 17:00] BenJenkinson opened #2511 "`Offcanvas` has incorrect prop types for `placement`/`direction`"
- components: `Offcanvas`
- reactstrap version `#9.0.2`

### What is happening?

👀 `Offcanvas.js` defines & uses the `direction` prop, and does _not_ mention a `placement` prop:

https://github.com/reactstrap/reactstrap/blob/1179b87c1fdc3f2289796c1e0260a6ef109ba133/src/Offcanvas.js#L32

https://github.com/reactstrap/reactstrap/blob/1179b87c1fdc3f2289796c1e0260a6ef109ba133/src/Offcanvas.js#L412-L41

[2022-05-04 13:25] Krobirow commented on #2393
Same both problems. Even if we can fix one bug by CSS, second with warning is still a question..
Current question is more than one year old, probably many developers just change the carousel to the good one(any another library), when facing this problem.

[2022-05-06 20:55] Sysix opened #2515 "Missing Typescript definitions for Placeholders"
- components: `Placeholder, PlaceholderButton`
- reactstrap version `#9.0.2`
- import method es`
- react version `#17.0.1`
- bootstrap version `#5.1.3`

### What is happening?

Importing Placeholder and PlaceholderButton with Typescript is throwing errors.

### What should be happening?

Normally Import like the other modules

### Steps to reproduce issue

1. Create `.tsx` file
2. Use `import {Pla

[2022-05-08 01:52] evearza commented on #1325
does it work for react native?

[2022-05-09 05:15] janpierts commented on #711
simply ---> $yarn global add nodemon yarn global add ts-node

[2022-05-09 20:21] bobber205 opened #2517 "Input Ref contains current now -- but focus() function doesn't work"
Using latest (reactstrap@8.10.1) -- searched around to find out how to call focus() successfully on my reactstrap element to no avail. Every issues references "innerRef" which doesn't seem to exist anymore. All I see when inspecting my ref is "current".

usernameFieldRef.current.focus() inside an `useEffect` doesn't seem to do anything when my Input comes from reactstrap but works fine if I change

[2022-05-10 05:12] Amir-Pasha-Bagheri commented on #779
Still not working

[2022-05-11 04:44] shtbik commented on #2431
In this case, wouldn't be a bad idea to update the docs:
https://reactstrap.github.io/?path=/docs/components-forms--input#form-inline

[2022-05-13 12:01] illiteratewriter commented on #2517
You can't pass `ref` directly. Instead, pass it as a prop called `innerRef`.

[code]
This should do the trick. Cheers.

[2022-05-15 14:24] srijan555 commented on #2171
Was there any fix provided for this issue recently?

[2022-05-17 10:36] Amir-Pasha-Bagheri commented on #1333
I have version 9 and i have same issue , someone help !

[2022-05-18 16:50] Klaudijus1996 commented on #2165
Issue persists in v9.0.2, solved the issue without `// @ts-ignore` by doing this, since Accordion is is also a child element
`<Accordion
    open={currentStep}
    {...{
    toggle: (accordionItem) =>
        /// to stuff...
    }}

    { ...children }
</Accordion>
`

[2022-05-19 10:10] wholegroup opened #2521 "Label with check property has wrong class"
- components: `Label`
- reactstrap version `#9.0.2`
- bootstrap version `#5.1.3`

### What is happening?

`Label` with `check` property have 2 classes `form-check-label` and `form-label`
Since `form-label` has `margin-bottom` it could break layout.

https://github.com/reactstrap/reactstrap/blob/1179b87c1fdc3f2289796c1e0260a6ef109ba133/src/Label.js#L96-L103

### What should be happening?

Well, gen

[2022-05-19 11:35] BenJenkinson commented on #2468
Hi @f3rret,

Could you explain a little more?

The example on that Storybook page does appear to have an `<AccordionBody>` inside each `<AccordionItem>`:

https://github.com/reactstrap/reactstrap/blob/1179b87c1fdc3f2289796c1e0260a6ef109ba133/stories/examples/Accordion.js#L12-L40

This matches the Bootstrap documentation for accordions:
- 📚 https://getbootstrap.com/docs/5.1/components/accordion/#ex

[2022-05-19 12:05] BenJenkinson commented on #2425
Bootstrap 5.2 has added some helper classes for this scenario

[2022-05-19 12:29] BenJenkinson commented on #2438
Hi @amironline,

❌ In your example, you have `<AccordionItem accordionId="1">` as a child of another `<AccordionItem>`:

[code]

✔ You need to use `<AccordionBody accordionId="1">` instead:

[code]

[2022-05-19 12:32] BenJenkinson commented on #2458
Hi @Maybach91,

I think this issue can be closed.

The example on that Storybook page does appear to have an `<AccordionBody>` inside each `<AccordionItem>`:

https://github.com/reactstrap/reactstrap/blob/1179b87c1fdc3f2289796c1e0260a6ef109ba133/stories/examples/Accordion.js#L12-L40

[2022-05-19 12:34] BenJenkinson commented on #2397
Hi @raihanputraramd,

❌ In your example, you have `<AccordionItem accordionId="1">` as a child of another `<AccordionItem>`:

[code]

✔ You need to use `<AccordionBody accordionId="1">` instead:

[code]

[2022-05-19 12:57] #2458 closed

[2022-05-22 04:46] #2468 closed

[2022-05-23 12:37] Kristiyan96 commented on #1213
As @nerfologist said,

[code]

[2022-05-26 01:02] k-funk commented on #2474
I was also under the impression that this was an uncontrolled component, due to the example code at https://reactstrap.github.io/?path=/docs/components-navbar--navbar#navbar-toggler only showing
[code]

[2022-05-27 00:57] davidacevedo commented on #1972
I'm going to close this as reactstrap v9 uses popper v2 with the bootstrap 5 update. I don't see too much of a benefit of backporting popper to V8 as bootstrap 4 still uses popper v1 and popper v2 has some breaking changes.

[2022-05-27 00:57] #1972 closed

[2022-05-27 04:05] GavinDmello97 commented on #1126
Set this in your App.css file

`.fade {opacity: 1}`

[2022-05-27 05:43] #2504 closed

[2022-05-27 17:58] #2511 closed

[2022-05-27 18:09] #2515 closed

[2022-05-27 18:14] #2521 closed

[2022-05-28 15:54] illiteratewriter commented on #2469
Will it be possible for you to create a reproducible example?

[2022-05-31 06:22] Cheetah0723 commented on #1833
Hello.
When I use "Fade" component from React-reveal, this issue occupies.
How can I fix this issue.
Of course, I don't use react-transition-group.
![image](https://user-images.githubusercontent.com/91611393/171106160-b6fada51-1c0a-4ca9-b519-8e49c4adda3b.png)

[2022-05-31 07:55] marcsalesgrid commented on #2165
This is still the case for version 9.0.3. Note that the workaround of @Ltchoc221 `//@ts-ignore` needs to be surrounded by { ... } like this:

`
return (
<...>
{
//@ts-ignore
    <Accordion toggle={toggle} openId={index}>
      <AccordionItem>
        <AccordionHeader targetId="accordionItem1">
          Accordion Item #1
        </AccordionHeader>
        <AccordionBody accordionId="accordionItem1

[2022-06-01 07:35] ItisEternity commented on #2490
I've got this issue after reinstalling dependencies. I tried removing `yarn.lock` and `node_modules` and reinstall modules with `yarn`, didn't helped. Then I reinstalled dependencies using `npm` and there is no error.

[2022-06-02 09:44] #2393 closed

[2022-06-03 02:29] #2351 closed, assigned to nobody

[2022-06-03 02:33] #2256 closed

[2022-06-03 02:33] #2229 closed

[2022-06-03 02:37] illiteratewriter commented on #2206
@clisterdmello This is the intended behaviour of [Popover](https://getbootstrap.com/docs/5.1/components/popovers/).

[2022-06-03 02:37] #2206 closed

[2022-06-03 09:39] zedtux commented on #2351
OMG I missed it, thank you very much ! 🙇

[2022-06-06 16:36] illiteratewriter commented on #2476
`function noRefCheck(){}` this part of the code is added by StoryBook. [This](https://github.com/reactstrap/reactstrap/blob/master/stories/examples/AlertDismiss.js) as pointed out by @BiswaViraj is the complete code for that example.

[2022-06-06 16:40] davidacevedo commented on #2508
We can't completely get rid of commonjs yet as testing frameworks like jest still don't support esm outside of an experiment. Commons is usually needed for the node side of things.

[2022-06-06 16:56] illiteratewriter commented on #2508
@davidacevedo so should we try and fix this issue?

[2022-06-06 17:10] davidacevedo commented on #2508
Tbh, I don't really understand the issue above. Is this in the webpack context, node context, or something else? Can this possibly be a configuration error?
I tried require('reactstrap') in node and it seems to import correctly.

[2022-06-06 18:38] davidlyons commented on #2508
Steps to reproduce:
[code]
add to App.js:
[code]

Here's a repo reproducing the issue:
https://github.com/davidlyons/cra-reactstrap-require/blob/main/src/App.js
Run `npm start` and check console

[2022-06-08 15:44] davidacevedo opened #2545 "Improve docs"
Adding more text content to the docs to make it look more like the Bootstrap documentation might make it easier to use the documentation. Currently, we have examples in stories, with almost zero text and I think adding text might make things better.

For example [the accordion flush page for Reactstrap](https://reactstrap.github.io/?path=/docs/components-accordion--accordion#flush) doesn't say any

[2022-06-09 16:34] illiteratewriter opened #2550 "Adding eslint to project"
### Discussed in https://github.com/reactstrap/reactstrap/discussions/2539

<div type='discussions-op-text'>

<sup>Originally posted by **illiteratewriter** June  3, 2022</sup>
Reactstrap earlier had eslint with the following [config](https://github.com/illiteratewriter/reactstrap/blob/25690dcbb1b3a5109b8aac7a2a55223fe38d18b6/.eslintrc.js). But currently we do not have any. Also we have migrated f

[2022-06-10 04:51] shtbik commented on #2427
Confirm the problem, tested on the latest [CRA](https://create-react-app.dev/docs/adding-typescript/#installation)

[code]

[code]
![Screen Shot 2022-06-10 at 2 45 19 pm](https://user-images.githubusercontent.com/12717213/172992178-a61dba38-6edc-4288-9bf1-7c9e2f772cb6.png)

![Screen Shot 2022-06-10 at 2 48 27 pm](https://user-images.githubusercontent.com/12717213/172992419-88c75bab-6e69-41ab-9165-

[2022-06-10 09:13] #2411 closed

[2022-06-10 23:07] afialapis opened #2552 "Using Reactstrap 9 from CDNs"
### Issue description

- reactstrap version `>=9.0.1`
- import method `umd`
- react version `#16.13.1`
- bootstrap version `#5.1.3`

### What is happening?

I am trying to do a simple test of Reactstrap using bundled scripts from unpkg.com. Things work fine for Reactstrap 8 (where we had the `full.js` bundle); but they don't work for Reactstrap 9, where I am including every dependency.

What am I

[2022-06-16 07:31] illiteratewriter commented on #2476
Currently, we are in the process of updating the docs (#2545). Let me know your thoughts. PRs are welcome.

[2022-06-16 10:08] phoneticallySAARTHaK commented on #2545
The sidebar is kinda weird in mobile as well... takes too much space

https://user-images.githubusercontent.com/71564671/174047239-ba0a25ac-50f7-4c51-9712-f2cdbcc8a397.mp4

(notice the clicks, it doesn't auto-hide)

[2022-06-16 14:11] illiteratewriter commented on #2545
@phoneticallySAARTHaK This is more of an issue with Storybook rather than with Reactstrap

[2022-06-16 15:52] phoneticallySAARTHaK commented on #2545
I realise. Still, Reactstrap is UI framework. It wouldn't feel right if their own docs website had silly bugs.

[2022-06-17 14:06] #2140 closed

[2022-06-17 14:07] #2144 closed

[2022-06-19 08:20] YodaLightsabr commented on #711
I'm just dropping this here because this produces a similar error message even though it's something completely different:
https://github.com/yarnpkg/yarn/issues/7373

[2022-06-20 03:26] illiteratewriter opened #2555 "Add crossfade to Carousel"
- components: `Carousel`

Carousel component doesn't have `crossfade` prop. [Bootstrap doc for crossfade](https://getbootstrap.com/docs/5.0/components/carousel/#crossfade).

[2022-06-22 13:01] anasbn3issa commented on #1333
I have reactstrap v9
and this worked for me ,

toggle function to set Open on click
and used isOpen prop i found on documentation
(@jiayihu  ur code on the question actually helped me )
`export default function OwnerPopover({ owner }) {
    const [open, setOpen] = React.useState(false);
    const toggle = () => setOpen(!open);
  return (
    <div>
      <Button id="Popover1" type="button" onClick=

[2022-06-23 01:29] illiteratewriter commented on #2555
Sure. Go ahead. I think it actually has a prop called `fade`, but it is not working as expected.

[2022-06-23 18:16] nerdjfpb commented on #2555
Hi @illiteratewriter I've write a solution, can you review this? Thanks

[2022-06-23 18:38] nerdjfpb opened #2559 "'React' is declared but its value is never read."
This is happening in every `*.stories.js` files.

[2022-06-24 01:58] #2555 closed

[2022-06-25 16:22] illiteratewriter commented on #2559
@nerdjfpb You can go ahead and fix it.

[2022-06-25 16:52] nerdjfpb commented on #2559
Thanks @illiteratewriter I've send a PR.

[2022-06-30 08:03] dudina-ma opened #2563 "CloseButton is missing in the index.d.ts file"
- components: `CloseButton`
- reactstrap version `#9.1.1`
- react version `#18.2.0`
- bootstrap version `#5.1.3`

### What is happening?

[code]
gives an error that reactstrap has no exported member `CloseButton`. Turns out, its export is missing in `index.d.ts`.

### What should be happening?

`CloseButton` should be imported with no errors

### Steps to reproduce issue

1. import `CloseButton` i

[2022-06-30 12:19] th-e0 commented on #2393
Hi!
"reactstrap": "^9.1.1",
Warning: Carousel.childContextTypes is specified but there is no getChildContext() method on the instance. You can either define getChildContext() on Carousel or remove childContextTypes from it.
Is it not fixed??

[2022-07-01 07:15] kirciemre commented on #2393
It is working perfectly. Those who have problems can update reactstrap with npm.

[2022-07-04 07:20] AJax2012 commented on #2431
Is this also why the `inline` property doesn't seem to work in the LabelProps or the FormProperties interfaces anymore as well? If so, would you mind if I submit a PR to remove that property from both? I don't know if your team allows outside parties to submit PRs, so I figured I'd ask, but as @shtbik pointed out, it doesn't see to work in the storybook demo either.

[2022-07-04 07:40] illiteratewriter commented on #2431
@AJax2012 Feel free to make a PR.

[2022-07-04 10:35] illiteratewriter commented on #2563
Closed with #2564

[2022-07-04 10:35] #2563 closed

[2022-07-04 10:41] #2559 closed

[2022-07-04 10:42] #2397 closed

[2022-07-04 17:42] AJax2012 commented on #2431
I unfortunately do not have the time to update the JavaScript files for the form-inline class (as well as fix everything that would break if you removed it), so I left the form types definition alone. Eventually, someone should probably get around to that though, haha.

I did remove the Label types definition...According to the git history, this definition never should have existed - the property

[2022-07-06 12:09] PysarenkoDS-BWT commented on #2417
I found this issue on https://ovio.org/projects and would love to contribute!

[2022-07-07 03:28] #2550 closed

[2022-07-14 17:08] RohanSingh182003 commented on #711
run **npm i next** command

[2022-07-15 18:55] nicks6853 commented on #2393
Same issue here

[2022-07-16 05:42] Jailsonmatz commented on #1126
it worked for me

[code]

[2022-07-16 13:46] illiteratewriter commented on #2393
@th-e0 , @nicks6853 can you create a reproducible example?

[2022-07-16 19:05] mohammadizanloo55 commented on #2435
Hello @Chrisfufu This is also normal in vanilla JavaScript and not really an reactstrap or react problem For example, check this [code sand box ](https://codesandbox.io/s/exciting-water-tk0tiv?file=/index.html)You can see that there is also a problem in vanilla JavaScript

[2022-07-17 02:00] #2545 closed

[2022-07-17 09:20] lukbak opened #2574 "Modal - incorrect overflow value"
- components: `Modal`
- reactstrap version `#9.1.2`
- bootstrap version `#5.1.3`

### Real life example

1. `FormModal` contains a form.
2. After submitting the form we want to close the `FormModal` and open the `ConfirmationModal`.
3. After closing the `ConfirmationModal`, the page is blocked (cannot be scrolled).

### What should be happening?

Overflow `hidden` should be removed from the `<body

[2022-07-17 13:19] StuffOfInterest opened #2576 "Use of deprecated attribute 'right' in DropdownMenu type definition"
- components: `DropdownMenu`
- reactstrap version `#9.1.2`
- import method `.NET SPA with TypeScript wiring`
- react version `#18.1.0`
- bootstrap version `#5.1.3`

### What is happening?

When using the DropdownMenu component with 'right' attribute in a TypeScript based tsx file, seeing the following warning:
[code]

### What should be happening?

DropdownMenu component should accept the currentl

[2022-07-17 15:23] #1414 closed

[2022-07-19 02:21] nicks6853 commented on #2393
The example from the docs has this problem. I use NextJS in my project so I created[ an example in NextJS](https://codesandbox.io/s/staging-mountain-r7ipfh?file=/pages/index.js).

[2022-07-20 06:02] illiteratewriter commented on #2552
I think this is an issue with reactstrap itself. I've made a[ PR](https://github.com/reactstrap/reactstrap/pull/2579), which should fix this issue. Also, just change `const {UncontrolledCarousel}= Reactstrap` to `const {UncontrolledCarousel}= reactstrap` (small letter r). You can try creating a build with the new PR and let us know if it works.

[2022-07-26 01:45] strarsis commented on #2160
Popper `v2` expects a different structure for the `modifier` configuration object:
https://popper.js.org/docs/v2/migration-guide/#10-update-modifiers

[2022-07-27 10:42] sowrovsarkar63 commented on #2467
Did you find any solution?

[2022-07-27 12:03] Sameer447 commented on #1501
I think you can use defaultInputValue attribute instead value and defaultValue

[2022-07-27 16:11] #2476 closed

[2022-08-01 08:03] akoskm opened #2587 "Can't find the Switch component in Storybook"
I'm looking for this component:
![image](https://user-images.githubusercontent.com/3111627/182101712-7589b03e-96db-4f05-8f26-52cd0199b8d6.png)

Bootstrap 5 link: https://getbootstrap.com/docs/5.0/forms/checks-radios/#switches

A variation of it is also featured on this demo site: https://demo.uifort.com/bamburgh-react-crypto-application-reactstrap-pro-demo/Settings

![image](https://user-images.gi

[2022-08-02 02:36] briefone opened #2588 "Tooltip & Popover z-index bug"
- components: `Popover` & `Tooltip`
- reactstrap version `9.0.2`
- import method `es`
- react version `17.0.2`
- bootstrap version `5.1.3`

### What is happening?

When a tooltip or popover animate in, they appear below any content with a z-index set, even if it's below 1070/1080, then after the fade animation is complete they appear on top.

![Screencast-from-08-01-2022-06_22_21-PM](https://user-

[2022-08-02 11:34] illiteratewriter commented on #2587
You can use a switch component like:
[code]

[2022-08-02 11:38] akoskm commented on #2587
@illiteratewriter thanks, it worked! 🙇‍♂️

[2022-08-02 11:41] illiteratewriter commented on #2587
We will add it to the docs and then mark it as complete. :)

[2022-08-02 21:06] mark-bt commented on #2142
What was the solution?

[2022-08-04 10:53] yehtet-linn opened #2592 "Is it possible to utilize toggle switch button properly using reactstrap?"
- components: `ButtonToggle`
- reactstrap version `9.0.2`
- import method `umd/csj/es`
- react version `18`
- bootstrap version `5.1.3`

### What is happening?
 I cannot utilize toggle switch button properly.

### What should be happening?
 It should be something like ButtonToggle has full functionality.

### Steps to reproduce issue

1. ...
2. ...

### Error message in console

[code]

### Code

[2022-08-09 22:14] DrOverbuild opened #2593 "Key prop warning when using Dropdown in an InputGroup"
- components: `Dropdown`, `InputGroup`
- reactstrap version `#9.1.3`
- import method `es`
- react version `#17.0.2`
- bootstrap version `#5.2.0`

### What is happening?

When I add a Dropdown to an InputGroup, I get the key prop warning, even though I'm passing two JSX elements as the children of Dropdown, not an array.

Seems like this was caused by #2540, where [this block](https://github.com/il

[2022-08-10 05:39] shtbik commented on #2427
Created sandbox for replication
https://github.com/shtbik/reactstrap-tree-shaking-issue

[2022-08-10 13:45] DianaKoenraadt commented on #1367
I'd like this too, because I want to control the color of the next and prev icons. (The desired color is derived from some API data, so we need some other solution than hardcoding in CSS)

[2022-08-10 14:03] DianaKoenraadt commented on #1367
I ended up going with this:

[code]

Adding classnames `carousel-control-prev` / `carousel-control-next` ensures correct positioning in the carousel.

[2022-08-11 10:12] Nikaidou-Shinku opened #2595 "The type definition of props of UncontrolledAccordion has something wrong"
- components: `UncontrolledAccordion`
- reactstrap version `#9.1.3`
- import method `whatever`
- react version `#18.2.0`
- bootstrap version `#5.2.0`

### What is happening?

When I use the `UncontrolledAccordion` without prop `open`, the tsc will complain about it since the `UncontrolledAccordionProps` was extended from `AccordionProps`.

### What should be happening?

I should be able to use `Un

[2022-08-12 16:41] neerajvr09 commented on #2171
@srijan555

InputGroupAddon has been removed , now you can use Buttons , Inputs directly to InputGroups  in the order you wish.

[2022-08-16 02:14] shtbik commented on #2427
I was trying to build `reactstrap` in different ways but still can't tell the exact reason why it's happening ([microbundle commit](https://github.com/reactstrap/reactstrap/commit/8d5fb537875f7e9b7c710b4cf704897fa4994377)). I noticed that `ReactDOM` doesn't support tree shaking properly but it's peer dependency anyway, and it doesn't explain why the analyzer shows the full list of components. `rea

[2022-08-16 02:39] illiteratewriter commented on #2592
Can you elaborate on what you mean by full functionality?

[2022-08-16 14:10] AJax2012 commented on #2431
Inline/form-inline has been removed following the above merged PR. Does that resolve this issue? I'm not sure if there was any other requested updates in this issue, but that seemed like the only remaining update request I found.

[2022-08-16 16:01] illiteratewriter commented on #2431
@AJax2012 FormGroup adds `mb-3` also to the div. I think it would be better if it doesn't add that automatically.

[2022-08-16 16:13] AJax2012 commented on #2431
I think I should be able to take a look into that tonight... If it doesn't look too bad, I'll just go ahead and knock that out too.

[2022-08-17 00:34] AJax2012 commented on #2431
I created a PR to resolve the `mb-3` issue: #2597

[2022-08-17 03:16] #2593 closed

[2022-08-17 03:20] #2587 closed

[2022-08-17 07:23] sevdog commented on #2588
This is a [stacking-context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context) issue due to the fact that by default tooltip/popover uses `<body>` as containing element.

https://github.com/reactstrap/reactstrap/blob/551d9eec46420a8965c8f42249b93aaaa9aab579/src/PopperContent.js#L47

The problem should be "fixable" by giving the correct con

[2022-08-17 09:15] sevdog commented on #1593
This issue is still present, even if in v8.8.1 a "safe-render" was added the problem is `findDOMElements`:

https://github.com/reactstrap/reactstrap/blob/551d9eec46420a8965c8f42249b93aaaa9aab579/src/utils.js#L297-L301

This issue is caused when tooltip and target are created togheter, thus the target does not yet exists in the DOM while the tooltip is moutend.

[2022-08-18 15:26] alamothe commented on #1593
Definitely not fixed, we see frequent crashes in Sentry due to this.

[2022-08-21 14:59] yehtet-linn commented on #2592
Yes. Now, I've got it by using react-switch package. Before that, I was trying to use ButtonToggle from reactstrap. But, it didn't work for me. That's all about it. Thank you.

[2022-08-22 04:59] #2592 closed

[2022-08-22 13:38] #2068 closed

[2022-08-22 13:40] #334 closed

[2022-08-22 13:40] #82 closed

[2022-08-22 13:41] #296 closed

[2022-08-22 13:57] #1406 closed

[2022-08-22 13:57] #1372 closed

[2022-08-22 13:58] #1365 closed

[2022-08-22 13:58] #1341 closed

[2022-08-22 14:00] #1330 closed

[2022-08-22 14:01] #1485 closed

[2022-08-22 14:02] #1480 closed

[2022-08-24 11:45] rpong commented on #2421
hi @illiteratewriter , our first fork/PR was already behind by 40 commits due to age and had a lot of conflicts, so we've decided to re-sync and re-integrate our changes on top of 9.1.3.

here is our new PR: https://github.com/reactstrap/reactstrap/pull/2606

[2022-08-24 17:18] kellykaufman commented on #711
This worked! Thank you🙏🏻

[2022-08-24 19:25] razaahmad333 commented on #2595
Hey, I can fix this issue
This is happening because  earlier `UncontrolledAccordionProps` extends `AccordionProps`
Here
`AccordionProps` has a key `open`
but `UncontrolledAccordionProps` never uses that

I will fix it by this
[code]

@illiteratewriter can you please assign me this task, It would be great

[2022-08-25 02:57] illiteratewriter commented on #2595
@razaahmad333 you can go ahead with it

[2022-08-25 08:36] mixaildudin opened #2607 "Add docs on CSS Modules"
Usage of CSS Modules is either not covered in the docs or is hidden somewhere deep.

I needed to use `bootstrap` as a CSS module, so I obviously had to use `setGlobalCssModule` function. It works fine, but I only managed to figure it out by reading the sources and using my intuition.

Would be nice to have this info somewhere other than the code.
Thanks!

[2022-08-27 02:58] #2607 closed

[2022-09-02 09:33] kinjal-mori commented on #2490
Same issue.

[2022-09-03 06:19] Elie-asmar commented on #2508
Any potential fixes or news reagrding this issue?

[2022-09-03 19:11] davidlyons commented on #2508
@Elie-asmar While this doesn't address the root issue, I found a hopefully temporary workaround for this in the meantime using react-app-alias to point reactstrap to the reactstrap.modern.js file instead of reactstrap.cjs

https://github.com/oklas/react-app-alias#usage

jsconfig.paths.json:
[code]

[2022-09-08 17:51] #1157 closed

[2022-09-18 07:23] GABuryan opened #2621 "Modal and try catch in init()"
- components: `Modal`
- reactstrap version `^8.0.0`

- react version `16.8.6`
- bootstrap version `4.3.1`

### What is happening?

The error is not thrown up from the modal window

### What should be happening?

In my project, unprocessed errors go up and then a window about an unknown error is displayed. In Modal component an my error (Uncaught TypeError) occurred in the method (prop.toggle) whil

[2022-09-19 07:11] GABuryan commented on #2621
it looks like this bug builds react-script 4

[2022-09-20 08:09] #2621 closed

[2022-09-21 10:44] ugnelis opened #2622 "reactstrap works only as a dev dependency in a library"
- reactstrap version `5.2.1`
- import method `esm`
- react version `17.0.2`
- bootstrap version `5.2.1`

### What is happening?

I have a monorepo ([Turborepo](https://turborepo.org/)) that has an app and a UI library. The app is using [create-react-app](https://create-react-app.dev/), meanwhile, the UI library is using [tsup](https://tsup.egoist.dev/) (a.k.a. esbuild for TypeScript) for bundling.

[2022-09-22 22:48] illandril commented on #2574
This same issue causes problems in other situations, which the PR would solve.

For example...
1. Show a component that adds a CSS class to the body element that changes the overflow
2. Show a modal within that component
3. Close the modal
4. Close the component that adds the body class

After step 3, the body has an explicit overflow value set that does what the body class does, so when the outer

[2022-09-30 12:20] meszaros-lajos-gyorgy commented on #1289
*Bump*
This is still happening in reactstrap 9.1.4
Any updates on this?

[2022-10-03 23:57] shikhar13012001 commented on #2576
Hi @StuffOfInterest I am interested in this issue, Can you please assign this to me ?
Thanks.

[2022-10-04 00:36] StuffOfInterest commented on #2576
Would love to, but I'm not part of the project. Just a user reporting an issue. With GitHub I don't believe you need to be assigned anything. You can submit a PR with a fix for the project admins to accept.

[2022-10-04 02:51] bestguy commented on #2576
Hi @StuffOfInterest , Bootstrap has moved to start/end for most of their naming, so this warning is reminding you to use `end` instead.  https://getbootstrap.com/docs/5.2/components/dropdowns/#dropend
`right` was just left in with the warning to avoid breaking changes.

[2022-10-04 04:03] timuster commented on #2588
That doesn't work, unfortunately. Tried `container='div'` with UncontrolledToolTip, but it still has the same issue.

[2022-10-04 08:48] sevdog commented on #2588
That selector maybe is not enough specific. Let me explain: when providing a _string_ to `container` props this is handled as a CSS-selector to find the matching DOM element to be used as container. If the selector matches more than 1 elements (which `'div'` is very likely to) it will get the first element in the list (see [implementation](https://github.com/reactstrap/reactstrap/blob/551d9eec4642

[2022-10-05 08:35] illiteratewriter opened #2625 "Migrate to react-testing-library"
Migrate the tests to use react testing library.

[2022-10-05 09:18] puritybirir commented on #2625
Hey @illiteratewriter, please assign me to this. I'd love to work on it.

[2022-10-05 13:13] illiteratewriter commented on #2625
@puritybirir  A few of the components has already been migrated. You can pick one component which has not been migrated. You can look into Tabs, Toast or any component which has not been migrated already.

[2022-10-05 13:43] puritybirir commented on #2625
Alright, I'll do that

[2022-10-22 04:30] shehan-sandaruwan commented on #1552
What if we only render active tab content, would it resolve that issue ..?
![image](https://user-images.githubusercontent.com/26381617/197319104-13e838fe-ce2b-4faf-818d-a18747156da6.png)
instead of this, we can have
![image](https://user-images.githubusercontent.com/26381617/197319458-7b974e2c-8911-4563-9f94-64077ead7952.png)

LTM know your thoughts on this

[2022-10-24 22:16] minimatrix commented on #2625
Hey 👋 I'm taking part in hacktoberfest and I'm a fan of Reactstrap. I have started learning React Testing Library and I would like to contribute, I've created a PR which migrates the Media component to React Testing library. I couldn't find a way to link it to this issue, but I've included a link to the PR below.

https://github.com/reactstrap/reactstrap/pull/2635

[2022-10-25 14:16] MichaelErmer commented on #2165
Still an issue :( Version 9.1.4

[2022-10-27 20:36] minimatrix commented on #2625
@illiteratewriter - if possible please could you take a look at the PRs above so that I can make any necessary amendments before the hacktoberfest deadline

[2022-10-28 21:19] melanieseltzer commented on #2622
@ugnelis Seems related to #2508 I think.

When bundling for `cjs` it's converting the `import ... from 'reactstrap'` to `require('reactstrap')`. Then when `packages/ui` is imported into the consuming CRA app, result is a string (as described in that issue), so `Container` is undefined.

You can drop a console.log into `packages/ui/dist/index.js` to see this:

<img width="577" alt="Screen Shot 2022

[2022-10-31 13:37] sophia-kravchenko commented on #2595
I updated reactstrap to 9.1.5 and still got the problem with prop `open` on `UncontrolledAccordion`.
### **Error message in console**

`Warning: Failed prop type: The prop 'open' is marked as required in 'Accordion', but its value is 'undefined'.`
### **My code**
[code]
[code]

[2022-11-09 01:17] saltycrane opened #2641 "`DropdownMenu` right alignment in `Navbar`"
- components: `DropdownMenu`
- reactstrap version `9.1.5`
- import method `es`?
- react version `18.2.0`
- bootstrap version `5.2.2`

### What is happening?

I'm using a `DropdownMenu` with the `end` prop inside a `Navbar` and the menu is not right-aligned.

<img width="1196" alt="Screen Shot 2022-11-08 at 4 49 43 PM" src="https://user-images.githubusercontent.com/25131/200711765-3fb1e7f5-deb2-4a4

[2022-11-10 11:40] offaxis opened #2643 "Cherry Pick to reduce bundle size"
- components: ALL
- reactstrap version `#9.1.4`
- import method: `import { Container, Row, Col, Card, CardHeader, CardTitle, CardBody, CardImg, CardImgOverlay, Jumbotron, ButtonGroup, Button, Alert } from 'reactstrap';`
- `umd/csj/es`  ??
- react version `#18.2.0`
- bootstrap version `#5`

### What is happening?
Try to cherry pick components to reduce bundle size, with transform-imports babel plug

[2022-11-10 20:51] saltycrane commented on #2641
I found that removing the `inNavbar` prop from `UncontrolledDropdown` also solves my problem. I edited the [CodeSandbox](https://codesandbox.io/s/reactstrap-navbar-dropdown-right-align-0r5dvq?file=/src/App.js) to include this solution.

[code]

[2022-11-11 00:03] drakej opened #2646 "Invalid aria-hidden attribute"
https://github.com/reactstrap/reactstrap/blob/b8eacc265770d19c2931144bf1c6c1ba33968395/src/DropdownMenu.js#L146

This is invalid since you end up with dropdown menu tags that have focusable links by design (dropdown-items) and those are focusable which is not allowed when the attribute aria-hidden is set.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-hidden

[2022-11-13 19:33] davidacevedo opened #2650 "Use `React.forwardRef` for all components that use innerRef. Also keep it backwards compatible as part of v10 to keep migration simple."

[2022-11-20 04:08] AJax2012 commented on #2431
@illiteratewriter so I accidentally deleted my branch, but now I have a few questions as per this discussion. Last time this thread was updated, we agreed that not adding `mb-3` by default was preferable, but according to a comment on the PR, we wanted to change that to add an attribute (`noMargin `) that removed `mb-3` rather than removing it by default... So what is the preference here?

Also, I

[2022-11-24 05:48] jokj624 opened #2655 "ModalBody : can't pass ref"
### What is happening?

Is there a special reason why I can't pass a ref to the ModalBody, but it hasn't been implemented?
- realted issue  #2089

Can I develop it if there is no special reason why it has not been implemented?

[2022-11-25 10:07] IIARROWS opened #2656 "Popover alignment ugly and offset not working"
- components: `Popover`
- reactstrap version `#9.1.5`
- react version `#17.0.2`
- bootstrap version `#5.1.3`

### What is happening?

I've setup a Popover with `placement="bottom-end"` and this is the look:
![image](https://user-images.githubusercontent.com/14835013/203954754-b570a867-56b6-4ddf-a502-1db32f666c75.png)

I want to move the popover to the right 10px, but the offset property doesn't wo

[2022-11-25 15:22] FractalStranger commented on #1289
Still not fixed (9.1.5)